<p id="notice"><%= notice %></p>

<h1>Exp Entries</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @exp_entries.each do |exp_entry| %>
      <tr>
        <td><%= link_to 'Show', exp_entry %></td>
        <td><%= link_to 'Edit', edit_exp_entry_path(exp_entry) %></td>
        <td><%= link_to 'Destroy', exp_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Exp Entry', new_exp_entry_path %>
