<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style type="text/css" media="screen" class = "content">
    <%# stylesheet_link_tag "bootstrap.min.css" %>

      h3 { color: #f00; }
      ul { list-style: none; }
    </style>
  </head>
  <body>
    <strong><p class="text-warning">
	<%= (APP_CONFIG[:admin_emails].include?(@user.email)) ? "Admin" : @user.email %> shared with you these projects: 
	<ul>
	  <% @projects.each do |p| %>
	  <li>
	    <a href="<%=  APP_CONFIG[:server_url] + project_path(p.key) %>"><%= p.name %></a>
	  </li>
	  <% end %>
	</ul>
    </p></strong>
    <% user_email = @shares.first.email %>
    <% existing_user = User.where(:email => user_email).first %>
    <% if !existing_user %>
    <p>As you are not yet a user of ASAP, please first create your account following this <a href='<%= APP_CONFIG[:server_url] + new_user_registration_path %>?user[email]=<%= user_email %>'>link</a></p>
    <% end %>
    <p>Do not forget to <a href='<%= APP_CONFIG[:server_url] + new_user_session_path %>?user[email]=<%= user_email %>'>login</a> first before to be able to access these projects.
    </p>

    The ASAP team --
  </body>
</html> 
