<p id="notice"><%= notice %></p>

<h1>Identifier Types</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @identifier_types.each do |identifier_type| %>
      <tr>
        <td><%= link_to 'Show', identifier_type %></td>
        <td><%= link_to 'Edit', edit_identifier_type_path(identifier_type) %></td>
        <td><%= link_to 'Destroy', identifier_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identifier Type', new_identifier_type_path %>
