<p id="notice"><%= notice %></p>

<h1>Organisms</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Short name</th>
      <th>TaxID</th>
      <th>GenRep Key</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisms.each do |organism| %>
      <tr>
	<td><%= organism.id %></td>
	<td><%= organism.name %></td>
	<td><%= organism.short_name %></td>	
	<td><%= organism.tax_id %></td>
	<td><%= organism.genrep_key %></td>
        <td><%= link_to 'Show', organism %></td>
        <td><%= link_to 'Edit', edit_organism_path(organism) %></td>
        <td><%= link_to 'Destroy', organism, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organism', new_organism_path %>
