<p id="notice"><%= notice %></p>

<h1>Output Attrs</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @output_attrs.each do |output_attr| %>
      <tr>
        <td><%= link_to 'Show', output_attr %></td>
        <td><%= link_to 'Edit', edit_output_attr_path(output_attr) %></td>
        <td><%= link_to 'Destroy', output_attr, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Output Attr', new_output_attr_path %>
