<%# raw @h_datasets.to_json %>
<%# raw @list_datasets.to_json %>
<%# raw @h_json.to_json %>
<%# @cmd.to_json %>
<%# @res.to_json %>


<% if @h_formats and detected_format = @h_formats[@h_upload_details['detected_format']] %>

<div class='alert alert-success'>
  File <%= @fu.upload_file_name %> was successfully uploaded (<%= display_mem(@fu.upload_file_size.to_f) %> <%# /1000000).round(1).to_s %>) and identified as a <%= detected_format.description  %> file<%= 's' if detected_format.many_files %>.
</div>

<%= hidden_field_tag :fu_id, @fu.id %>

<div id='loading_dataset' class='hidden'>
  <i class='fa fa-spinner fa-pulse fa-fw fa-lg fa-2x'></i><br/><span class='loading_text'>Please wait, loading preview...</span>
</div>

<% if @error %>
<div id='preparsing_error' class='row'>
  <span class='alert alert-danger'><%= @error %></span>
</div>
<% end %>

<%= render :partial => 'preparsing_' + @fu.upload_type.to_s, :locals => {:detected_format => detected_format} %> 

<% else %>

<%= @h_json.to_json if admin? %>
<% if @h_json and @h_json['displayed_error'] %>
<span class='badge badge-danger'><%= raw @h_json['displayed_error'] %></span>
<% else %>
Format not detected.
<% end %>
<% if admin? %>
<%= @cmd %>
<% end %>

<%# @h_upload_details.to_json %>

<% end %>
