<p id="notice"><%= notice %></p>

<h1>Archive Statuses</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @archive_statuses.each do |archive_status| %>
      <tr>
        <td><%= link_to 'Show', archive_status %></td>
        <td><%= link_to 'Edit', edit_archive_status_path(archive_status) %></td>
        <td><%= link_to 'Destroy', archive_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Archive Status', new_archive_status_path %>
