<p id="notice"><%= notice %></p>

<h1>Ontology Term Types</h1>

<table id='ott_table'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Label</th>
      <th>Ontologies</th>
      <th>In lineage</th>
      <th>Included terms</th>
      <th>Free text terms</th>
      <th></th>      
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ontology_term_types.each do |ott| %>
    <tr>
      <td><%= ott.id %></td>
      <td><%= ott.name %></td>
      <td><%= ott.label %></td>
      <td><%= (ott.cell_ontology_ids) ? ott.cell_ontology_ids.split(",").map{|e| @h_cell_ontologies[e.to_i].tag}.join(" ") : 'NA' %></td>
      <td><%= (ott.in_lineage_term_ids) ? ott.in_lineage_term_ids.split(",").map{|e| @h_terms[e.to_i].name}.join(" ") : 'NA' %> </td>
      <td></td>
      <td></td>
      <td><%= link_to 'Show', ott %></td>
      <td><%= link_to 'Edit', edit_ontology_term_type_path(ott) %></td>
      <td><%= link_to 'Destroy', ott, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ontology Term Type', new_ontology_term_type_path %>

<%= javascript_tag do %>

$("#ott_table").DataTable()

<% end %>
