<p id="notice"><%= notice %></p>

<h1>Figures</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @figures.each do |figure| %>
      <tr>
        <td><%= link_to 'Show', figure %></td>
        <td><%= link_to 'Edit', edit_figure_path(figure) %></td>
        <td><%= link_to 'Destroy', figure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Figure', new_figure_path %>
