<p id="notice"><%= notice %></p>

<h1>Sample Identifiers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sample_identifiers.each do |sample_identifier| %>
      <tr>
        <td><%= link_to 'Show', sample_identifier %></td>
        <td><%= link_to 'Edit', edit_sample_identifier_path(sample_identifier) %></td>
        <td><%= link_to 'Destroy', sample_identifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sample Identifier', new_sample_identifier_path %>
