<%= form_for(provider_project, :url => provider_project_path(provider_project.id), :html => {:class => ''}) do |form| %>
<%# form_with(model: provider_project, local: true) do |form| %>
  <% if provider_project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(provider_project.errors.count, "error") %> prohibited this provider_project from being saved:</h2>

      <ul>
      <% provider_project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class='form-group col-12'>
    <%= label_tag 'title', 'Title', {'data-toggle' => "tooltip"} %>
    <%= form.text_field :title, {:class => "form-control", :placeholder => "Name of source"} %>
  </div>

  <div class='form-group col-12'>
    <%= label_tag 'filename', 'Filename', {'data-toggle' => "tooltip"} %>
    <%= form.text_field :filename, {:class => "form-control", :placeholder => "Filename"} %>
  </div>

  <div class='form-group col-12'>
    <%= label_tag 'attrs_json', 'Attributes (JSON)', {'data-toggle' => "tooltip"} %>
    <%= form.text_area :attrs_json, {:class => "form-control", :placeholder => "Attributes (JSON)", :rows => 8} %>
  </div>

  <div class='form-group col-12'>
    <%= label_tag 'comment', 'Comment', {'data-toggle' => "tooltip"} %>
    <%= form.text_area :comment, {:class => "form-control", :placeholder => "Comment"} %>
  </div>

  <div class='form-group col-12'>
    <%= form.check_box :not_add_in_asap %>
    <%= label_tag 'not_add_in_asap', 'Not add in ASAP', {'data-toggle' => "tooltip"} %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
