<p id="notice"><%= notice %></p>

<h1>Hcao Namespaces</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hcao_namespaces.each do |hcao_namespace| %>
      <tr>
        <td><%= link_to 'Show', hcao_namespace %></td>
        <td><%= link_to 'Edit', edit_hcao_namespace_path(hcao_namespace) %></td>
        <td><%= link_to 'Destroy', hcao_namespace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hcao Namespace', new_hcao_namespace_path %>
