<p id="notice"><%= notice %></p>

<h1>Heatmaps</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @heatmaps.each do |heatmap| %>
      <tr>
        <td><%= link_to 'Show', heatmap %></td>
        <td><%= link_to 'Edit', edit_heatmap_path(heatmap) %></td>
        <td><%= link_to 'Destroy', heatmap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Heatmap', new_heatmap_path %>
