<div id='<%= @step.name %>_step_container'>
  <% if @step and @ps and @run %>
  <div id='step_header_container'>
    <%= render :partial => 'step_header_container' %>
  </div>
  
  <% if params[:errors] %>
  <div class='alert alert-danger'><%= params[:errors] %></div>
  <% end %>
  
  <% if  @step.description and ! @step.description.empty? %>
  <div id='step-info_<%= @step.id %>' class='alert alert-info <%= (@ps.status_id) ? 'hidden' : '' %>'><%= raw @step.description %></div>
  <% end %>
  
  <%# @h_stats.to_json %>
  
  <p id="notice"><%= notice %></p>
  
  <div class='alert alert-danger'>
    This page which will display the QC plots (if there are not too many cells in the dataset) is still in development.
    A current possibility to get the QC plots is to restart a cell filtering and reapplying your parameter thresholds.
  </div>
 <% end %> 
</div>
