<div class='alert alert-info'><%= raw Step.find(6).description %></div>

<% if analyzable? @project %>
<form id='de_form'>
  <div class='form-inline form-group attr_table'>
    <%= label_tag 'diff_expr_method_id', 'DE method' %>
    <% l = DiffExprMethod.all.sort.select{|e| !@all_results[:normalization] or !@all_results[:normalization]['is_count_table'] or @all_results[:normalization]['is_count_table'] == 1 or e.handles_log == true}.map{|e| [e.label, e.id]} %>
    <% l.reject!{|e| e[0] != 'Limma'} if @all_results[:parsing]['is_count_table'] == 0 %> 
    <%# l.unshift(["Manual", nil]) %>
    <%= select_tag 'diff_expr[diff_expr_method_id]', options_for_select(l, 1),  {class: 'form-control'} %>
    <% Speed.all.each do |s| %>
    <%= image_tag 'speed_' + s.name + '.png', :id => 'speed_' + s.id.to_s, :class => 'speed_image hidden', :width => '25px' %>
    <% end %>
    <span id='method_desc' class="label label-info"></span>
  </div>
 <!-- <form id='de_form'> -->
 <div class='form-inline'>
   <div class='form-group attr_table'>
     <%= label_tag 'diff_expr_selection1_id', 'Selection 1' %>
     <% l = Selection.where(:project_id => @project.id).all.sort.map{|e| [e.label, e.id]} %>
     <%= select_tag 'diff_expr[selection1_id]', options_for_select(l, 1),  {class: 'form-control'} %>
   </div>
   <div class='form-group'>
     <%= label_tag 'diff_expr_selection2_id', 'Selection 2' %>
     <% l = Selection.where(:project_id => @project.id).all.sort.map{|e| [e.label, e.id]} %>
     <% l.unshift(["Complementary set of Selection 1 [Marker genes]", nil]) %>
     <%= select_tag 'diff_expr[selection2_id]', options_for_select(l, 1),  {class: 'form-control'} %>
   </div>
   
   <div id='diff_expr_attributes' class='form-group'></div>
   <div id='diff_expr_button' class='form-group'>
     <button id="de_button" class='btn btn-primary' style=''>New DE analysis</button>
   </div>
 </div>
</form>
<% end %>

<div id='list_des'></div>
  
  
<%= javascript_tag do %>

<% if analyzable?(@project) %>

  $('#de_form').unbind('submit');
  $('#de_form').submit(false);
  
  $("#de_button").click(function(){
  var p = $('#de_form').serializeArray();
  p.push({'name' : 'project_key', 'value' : '<%= @project.key %>'}); 
  refresh_post("list_des", '<%= diff_exprs_path %>', p, 'post')
  });
  
  function upd_attributes(){
  var diff_expr_method_id = $("#diff_expr_diff_expr_method_id").val();
  refresh('diff_expr_attributes', '<%= get_attributes_project_path(:key => @project.key) %>' + '?obj_name=diff_expr_method&obj_id=' + diff_expr_method_id);
  }
  
  upd_attributes();

/*
$("#diff_expr_diff_expr_method_id").change(function(){
if ($("#diff_expr_diff_expr_method_id").val()!= null){
 upd_attributes();
}
});
*/

var h_de_methods = <%= h ={}; DiffExprMethod.all.map{|f| h[f.id] = [f.speed_id, f.description, f.link]}; raw h.to_json %>;

$("#diff_expr_diff_expr_method_id").change(function(){
 $(".speed_image").addClass('hidden');
 if ($(this).val()){
  upd_attributes();
  //  refresh_attributes('norm', $(this).val());
  //  var url = '<%= get_attributes_project_path(:key => @project.key) %>' + '?obj_name=norm&obj_id=' + $(this).val();
  //  refresh("attrs_container", url);
  var img = $("#speed_" + h_de_methods[$(this).val()][0])
  if (img) {img.removeClass('hidden');}
  $("#method_desc").html(h_de_methods[$(this).val()][1] + ' ' + h_de_methods[$(this).val()][2]);
  }else{
   $("#diff_expr_attributes").html("");
  }
});

<% end %>

 refresh("list_des", '<%= diff_exprs_path(:project_key => @project.key) %>')

 var de_method_id = $("#diff_expr_diff_expr_method_id").val();
 var img = $("#speed_" + h_de_methods[de_method_id][0])
 if (img) {img.removeClass('hidden');}
 $("#method_desc").html(h_de_methods[de_method_id][1] + ' ' + h_de_methods[de_method_id][2]);

<% end %>



