<%# @h_attrs_by_run_id.to_json %>
<!--<div id="dr_plot" style="width:800px;height:400px;"></div>-->
<% if @run %>

 <% if @h_json_data != '' %>

  <% if @valid_plot == 1 %>
   <%= hidden_field_tag "selection-content", "" %>
   <div id="dr_plot"  style="width:100%;height:100%;"></div>
   <%# @cmd.to_json %>
   <%# @h_data.to_json %>
   
   <%= javascript_tag do %>

//   console.log("nnn")

//   if ('<%= @plot_type %>' == '3d' && (<%= @nber_cols %> < 200000 || window.navigator.appName == 'Chrome')){

    <%= render :partial => "dim_reduction_#{params[:displayed_nber_dims]}d_js" %>

    $("#plot_options_btn").removeClass("hidden")
    $("#plot_clusters_btn").removeClass("hidden") 
var h_autocomplete = {}

$.ajax({
      dataType: "json",
      cache : true,
      async : false,
      url: "<%= raw get_autocomplete_genes_project_path(@project.key) %>",
      success: function(returnData){
        h_autocomplete = returnData
 //       $(".gene_free_text").attr("placeholder", '')
 //       $(".gene_free_text").prop("disabled", false)
     refresh("plot_options_content", "<%= raw get_dr_options_project_path(@project.key, :run_id => @run.id) %>", {loading:"fa-2x"})
     }})
//  }else{
//    $("#dr_plot").html("<div class='alert alert-danger mt-4'>This dataset is too big (<%= number_with_delimiter(@nber_cols, :delimiter => "'") %> cells) to be visualized in 3D with your current browser. Please use Chrome to be able to visualize this dataset.</div>")
//  }
   <% end %>

  <% else %>

   <div class='alert alert-danger mt-4'>
--><%= @browser_name %>    
     <% if @nber_cols %>
     <% if (@nber_cols >  @h_thresholds[@browser_name]['3d'] and @plot_type == '3d') %>
     The dataset is too big (<%=  number_with_delimiter(@nber_cols, :delimiter => "'") %> cells) to be visualized in 3D. 3D plots are possible for datasets containing <%= number_with_delimiter(@h_thresholds[@browser_name]['3d'], :delimiter => "'") %> cells max with your current browser (<%= @browser_name %>) . 
     <% if @browser_name != 'Chrome' and @nber_cols <= @h_thresholds['Chrome']['3d']  %>
	Please use Chrome to be able to visualize this dataset (up to <%= number_with_delimiter(@h_thresholds['Chrome']['3d'], :delimiter => "'") %> cells).
     <% end %>
     <% elsif (@nber_cols >  @h_thresholds[@browser_name]['2d'] and @plot_type == '2d') %>
     The dataset is too big (<%= number_with_delimiter(@nber_cols, :delimiter => "'") %> cells) to be visualized. 2D plots are possible for datasets containing <%= number_with_delimiter(@h_thresholds[@browser_name]['2d'], :delimiter => "'") %> cells max.
     <% end %>
     <% end %>
   </div>

   <%= javascript_tag do %>
     $("#plot_options_btn").addClass("hidden")
   <% end %>

  <% end %>

 <% else %>
  <div class='alert alert-danger mt-4'>No data found in this dataset.</div>
 <% end %>

<% else %>
 <div class='alert alert-danger mt-4'>Analysis not found2.</div>
<% end %>
<%# elsif @run.status_id = 4 %>
 <!--<div class='alert alert-danger'>
   This run failed.
 </div>-->
<%# end %>
