<%= raw @h_cmds.to_json if admin? %>
<%# raw @h_data.to_json %>
<%# raw @h_data.keys.to_json %>
<%# raw @h_data[:depth] %>
<%# raw @h_data[:detected_genes] %>
<%# raw @h_data[:protein_coding] %>
<%# raw @h_data[:mito] %>
<%# raw @h_data[:ribo] %>
<%# @h_annots.to_json %>
<pre><%= @error %></pre>
<% if  @h_method_details %>
<% @h_attrs = @h_method_details[:attrs] %>

<%# @h_data[:depth] %>
<div id='forced_margin' class='mt-3'></div>
<div id='step-info_<%= @step.id %>' class='alert alert-info hidden'><%= @step.description %></div>
<div id="cell_filtering_form_container">
<!--
<div id="cell_filtering_header">
  <div class="float-left badge badge-success mr-4"><span id="result2">Selected : <i class='fa fa-spinner fa-pulse'></i></span></div> 
  <div class="float-left badge badge-secondary mr-4"><span id="filtered2" class="">Discarded : 0</span> <span id='cancel_discarded' class='pointer' title='Reset to original parameters'><i class='fa fa-times-circle'></i></span></div>
  <div class="float-left badge badge-secondary mr-4"><span id="manually_filtered" class="">Manually discarded : 0</span> <span id='cancel_manually_discarded' class='pointer' title='Reset manually discarded cells'><i class='fa fa-times-circle'></i></span></div>

  <div class='float-left hidden'>Cells In:<input style="height:13px;" type="color" id="color_in" name="color_in" value="#009933" onChange="updateColors()"/></div>
  <div class='float-left hidden'>Cells Out:<input style="height:13px" type="color" id="color_out" name="color_out" value="#cccccc" onChange="updateColors()"/></div>

  <div class='clear'></div>
</div>
-->
<div class="card-deck mb-4">
  <div class='card border-success p-3 mb-3'>
    <h4 class='card-title text-success'><span id="result">Kept: <i class='fa fa-spinner fa-pulse'></i></span></h4>
  </div>
  <div class='card border-secondary p-3 mb-3'>
     <h4 class='card-title text-secondary'><span id="filtered">Discarded: <i class='fa fa-spinner fa-pulse'></i></span></h4>
  </div>

</div> 

<!--<div class="container">
    <div id='cell_filtering_card-deck' class='card-deck'>-->
<%# @h_cmd.to_json %>
<%# @h_data.to_json %>

<!-- add filter by annotation -->
<!--
<div class='mb-3'>
   <%= hidden_field_tag 'attrs[manual_selection]', '', {:placeholder => '', :class => 'form-control'} %>
  <%= hidden_field_tag 'attrs[discarded_metadata_json]', '{}' %>
 <%# render :partial => 'attribute', :locals => {:attr_name => 'group_annot', :horiz_element => {}} %>
  <%# annotations = Annot.where(:project_id => @project.id, :data_type_id => 3, :dim => 1).all %>
  <% if @annots.size > 0 %>
   <%# h_runs = {} %>
   <%# Run.where(:id => @annots.map{|a| a.run_id}).all.map{|r| h_runs[r.id] = r} %>
   <%# h_runs.to_json %>
   <%# l = annotations.map{|a| [display_run(h_runs[a.run_id]) + " " + a.name, a.id]} %> 
   <%# l = annotations.map{|a| [a.name + " " + display_run(@h_runs[a.run_id]), a.id]} %>
   <% l = ([@parsing_run] + @cell_filtering_runs + @gene_filtering_runs).map{|r| [display_run(r), r.id]} %>
   <%= select_tag 'store_run_id', options_for_select(l, session[:cell_filtering_store_run_id]), {:class => 'form-control mr-4 mb-2'} %>
   <% l = @annots.map{|a| [a.name + " ", a.id]}.sort %>
   <% l.unshift ["Select an annotation to be used to discard cells", nil] %>
   <%= select_tag 'annot_id', options_for_select(l, nil),  {:class => 'form-control mr-4 mb-2'} %>
  <% end %>
  <div id='annot_categories'></div>
  <div class='float-right'>
    <button id='discard_from_cat_btn' type='button' class='btn btn-primary btn-sm hidden'>Discard cells from selected categories</button>
  </div>
  <div class='clear'></div>

</div>
-->


<% if true %><%#@project.nber_cols > 20000 %>
 <%= render :partial => 'form_cell_filtering_scalable' %>
<% else %>

<% if @h_data["depth"] %>
<div class="card float-left">
  <div class="card-body">
    <div id="cellreads" style="width:500px;height:500px"><div class='waiting' style='text-align:center;vertical-align:middle'><i class='fa fa-spinner fa-pulse fa-fw fa-lg fa-2x'></i></div></div>
    <div id="cellreads_box" class="overLay cellreads">
      Filter out cells that have LESS than <input id="cellreads_value" name="attrs[depth]" type="text" style="width:60px" onchange="changeCutoff(this)"/> UMI/reads
    </div>
  </div>
</div>
<% end %>

<% if @h_data["detected_genes"] %>
<div class="card float-left">
  <div class="card-body">
    <div id="detectedGenes" style="width:500px;height:500px;"></div>
    <div id="detectedGenes_box" class="overLay detectedGenes">
      Filter out cells that have LESS than <input id="detectedGenes_value" name="attrs[detected_genes]" type="text" style="width:60px" onchange="changeCutoff(this)"/> detected genes
    </div>
  </div>
</div>
<% end %>

<% if @h_data["mito"] %>
<div class="card float-left">
  <div class="card-body">
    <div id="mitochondrial" style="width:500px;height:500px;"></div>
    <div id="mitochondrial_box" class="overLay mitochondrial">
      Filter out cells that have MORE than <input id="mitochondrial_value" name="attrs[mito_content]" type="text" style="width:45px" onchange="changeCutoff(this)"/>% mitochondrial genes
    </div>
  </div>
</div>
<% end %>

<% if @h_data["protein_coding"] %>
<div class="card float-left">
  <div class="card-body">
    <div id="proteinCoding" style="width:500px;height:500px;"></div>
    <div id="proteinCoding_box" class="overLay proteinCoding">
      Filter out cells that have LESS than <input id="proteinCoding_value" name="attrs[protein_coding_content]" type="text" style="width:45px" onchange="changeCutoff(this)"/>% protein coding genes
    </div>
  </div>
</div>
<% end %>

<% if @h_data["ribo"] %>
<div class="card float-left">
  <div class="card-body">
    <div id="ribosomal" style="width:500px;height:500px;"></div>
    <div id="ribosomal_box" class="overLay ribosomal">
      Filter out cells that have MORE than <input id="ribosomal_value" name="attrs[ribo_content]" type="text" style="width:45px" onchange="changeCutoff(this)"/>% ribosomal genes
    </div>
  </div>
</div>
<% end %>

<div id="group" class="modal">
  <div class="modal-content">
    <div class="modal-header">
      <div id="close" class="close" onclick="closePopup(this)">&times;</div>
      <div class="smallHeader">Filter Selection</div>
    </div>
    <div class="modal-body">
      <table>
           <tr><td>Add to filtered cells:</td><td><button style="width:130px" onclick="filter(false)">Filter out!</button></td></tr>
      </table>
    </div>
    <div class="modal-footer">
    </div>
  </div>
</div>
</div>
<!--<input type="hidden" name="cellreads_value"/>
<input type="hidden" name="detectedGenes_value"/>
<input type="hidden" name="mitochondrial_value"/>
<input type="hidden" name="proteinCoding_value"/>
<input type="hidden" name="ribosomal_value"/>
-->
<input id='attrs_manually_discarded_cols' type="hidden" name="attrs[manually_discarded_cols]"/>
<input id='attrs_nber_manually_discarded_cols' type="hidden" name="attrs[nber_manually_discarded_cols]"/>
<input id='attrs_discarded_cols' type="hidden" name="attrs[discarded_cols]"/>

<%# parsing_step = Step.where(:version_id => @project.version_id, :name => 'parsing').first %>
<% parsing_step = Step.where(:docker_image_id => @asap_docker_image.id, :name => 'parsing').first %>
<% parsing_run = Run.where(:project_id => @project.id, :step_id => parsing_step.id).first %>
<% h_run = {:run_id => parsing_run.id, :output_attr_name => "output_matrix",:output_filename => "parsing/output.loom", :output_dataset => "/matrix"} %>
<%= hidden_field_tag 'attrs[input_matrix]', "[#{h_run.to_json}]" %>
</div>
<div class='clear'></div> 
<%# @h_cmd.to_json %>
<%# @h_data.to_json %>

<%= javascript_tag do %>

<%= render :partial => 'form_cell_filtering_js' %>

$("#discard_from_cat_btn").click(function(){
//  var h_manually_discarded = {}
//  discardByCat(this)
 updateResult()
})

<% end %>


<% end %>

<%= javascript_tag do %>

$("#store_run_id").change(function(){
refresh("step_content", "<%= raw form_new_analysis_project_path(:key => @project.key, :step_id => @step.id) %>" + "&store_run_id=" + $("#store_run_id").val(), {loading:'fa-2x'})
$(".new_job_popup").click()})

$("#<%= @step.name %>_button").click(function(){
console.log("test_blaaaaaaaaaaaaa")
})


$( document ).ready(function(){

$("#annot_id").change(function(){
 if ($(this).val()){
  refresh("annot_categories", "<%= annots_path() %>/" + $(this).val() + "/get_cats", {loading:'fa-2x'})
 }else{
  // hide button for cell filtering
  $("#discard_from_cat_btn").addClass("hidden")
  $("#annot_categories").empty()
 }
})


$("#cancel_manually_discarded").click(function(){
 resetFilters()
})

$("#cancel_discarded").click(function(){
 resetParams()
})

$("#attrs_discarded_cols").change(function(){
 if ($(this).val()){
  $("#cell_filtering_button").removeAttr('disabled')
 }else{
  $("#cell_filtering_button").attr("disabled", "disabled")
 }
})

//$("#cell_filtering_button").attr("disabled", "disabled")

});

<% end %>

<% end %>
