<h2>Parsing options</h2>
<%= form_for(@project, :url => project_path(@project.key), :html => {:id => 'parsing_form'}) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div id='preparsing'>
</div>

<%= hidden_field_tag 'nb_cells_preview', 0 %>
<%= hidden_field_tag 'nb_genes_preview', 0 %>
<%= hidden_field_tag 'nb_cells', 0 %>
<%= hidden_field_tag 'nb_genes', 0 %>


<%= f.hidden_field :key  %>
<%= f.hidden_field :step_id, {:value => 1}  %>
<%= hidden_field_tag :active_step, params[:active_step] %>

  <div class="actions">
    <% button_name = "Parse again" %>
    <%= f.submit button_name, {:class => 'btn btn-primary ladda-button', :id =>'parsing_button'} %>
    <button id='cancel' type='button' class='btn btn-secondary'>Cancel</button>
  </div>


<% end %>

<%= javascript_tag do %>

$('#parsing_form').unbind('submit');
$('#parsing_form').submit(false);

$("#parsing_button").click(function(){
 var p = $('#parsing_form').serializeArray();
 p.push({'name' : 'render_nothing', 'value' : '1'});
 $("#step_container").html("<div class='loading'><i class='fa fa-spinner fa-pulse fa-fw fa-lg fa-2x'></i><br/><span class='loading_text'>Refreshing...</span></div>")
 refresh_post(null, '<%= parse_project_path(:key => @project.key) %>', p, 'post')
});

$("#cancel").click(function(){
refresh("step_container", "<%= get_step_project_path(:key => @project.key, :step_id => 1, :nolayout => 1) %>", {});
});

$("#preparsing").html("<div class='loading'><i class='fa fa-spinner fa-pulse fa-fw fa-lg fa-2x'></i><br/><span class='loading_text'>Please wait, loading preview...</span></div>")
$("#preparsing").removeClass("hidden")
//start preparsing the
var p = [{'name' : 'organism', 'value' : $("#project_organism_id").val()}];
refresh_post("preparsing", "<%= preparsing_fu_path(@fu_input) %>", p, 'post');

<% end %>
