<% if @step %>
 <%# @ps = ProjectStep.where(:project_id => @project.id, :step_id => @step_id).first %>

<div id='step_header_container'>
  <%= render :partial => 'step_header_container' %>
</div>


  <% if @project.replaced_by_project_key %>
  <div class='alert alert-danger'>
    This project is obsolete and replaced by
    <%= link_to @project.replaced_by_project_key, projects_path(:key => @project.replaced_by_project_key) %>
    <% if @project.replaced_by_comment %>
    <small>
      (<%= @project.replaced_by_comment %>)
    </small>
    <% end %>
  </div>
  <% end %>


 <% if params[:errors] %>
 <div class='alert alert-danger'><%= params[:errors] %></div>
 <% end %>

<% if @project.key == 'hwukxt' %>
<div class='alert alert-danger'>This project is corrupted. Further analysis may be failing because of this.</div>
<% end %>

<!--<div class='alert alert-warning'>New DE filtering implemented - please drop a message if something is not working properly</div>-->

<% if notice and !notice.empty? %>
<p id="notice"><%= notice %></p>
<% end %>

 <div id='step_content'>
   <%# @h_attrs_by_run_id.to_json %>

   <%# render :partial => 'alert_used_space' %>

   <% if admin? and params[:dl_params_json] %>
   <%= params[:dl_params_json] %>
   <% end %>
   
   <%= @error %>
   <% if !analyzable? @project and !["cell_scatter"].include? @step.name  %>
   <div class='alert alert-info'>Please <%= link_to "clone", clone_project_path(:key => @project.key) %> this project to run new analyses on it</div>
   <% end %>

   <%# session[:current_dashboard].to_json %>
   <%# @log %>
   <% if @project.archive_status_id == 1 %>

   <% if readable?(@project) %> 
    <% if @step.description and ! @step.description.empty? %>
     <div id='step-info_<%= @step.id %>' class='alert alert-info <%= (@ps and @ps.status_id) ? 'hidden' : '' %>'>
       <%= raw @step.description %>
     </div>
     <% if @step.warnings and !@step.warnings.empty? %>
     <div id='step-info_<%= @step.id %>' class='alert alert-warning'>
       <%= raw @step.warnings %>
     </div>
     <% end %>
    <% end %>
    <div id='list_runs'>
      <%# dashboard_name = (@step.has_std_dashboard) ? 'std_runs' : session[:current_dashboard][@project.id][@step.id]  %>  
      <%# partial = (dashboard_name) ? dashboard_name :  @step.name  #(@step.has_std_dashboard) ? 'std_runs' : ((dashboard_name) ? dashboard_name : @step.name) %>
      <%# session[:current_dashboard] %>
      <%# session[:current_dashboard][@project.id][@step.id] %>
      <% if dashboard_name = session[:current_dashboard][@project.id][@step.id] %>
       <%# dashboard_name %> 
      <%= hidden_field_tag('dashboard', dashboard_name) %>
      <%# dashboard_name %>
      <%= render :partial => dashboard_name %>
      <% end %>
    </div>
   <% end %>

   <% else %>
   Unarchiving project...
   <% end %>

 </div>
 
 <%= javascript_tag do %>
 console.log("bla0")
 // other

 $("#last_project_step").html('<%= @last_update %>');

 $("#edit_project_link").click(function(){
  refresh("form_container", "<%= edit_project_path(@project.key) %>?global=1", {});
  $("#ontop_window").removeClass("hidden");
 });
 //console.log("bla1")
 var table_width = $("div.results table").width();
 var panel_width = ( $(window).width() > table_width) ? $(window).width() : table_width;
 $("div.results").css({width: panel_width + 'px'});

 //console.log("bla2");
 if (!$("#new_analysis_form").hasClass('hidden')){
  $("#new_job_main_btn").addClass("hidden");
 }

// if (!$("#new_analysis_form").hasClass("hidden")){
 console.log("add margin step container")
 if (typeof add_margin_step_container === "function") {
 add_margin_step_container()
 }
// }

 
// var menu_step_id = ($("li#step_" + data['step_id']).hasClass('active')
 if (!$("li#step_<%= @step.id %>").hasClass('active')){
//  $("#menu_" + h_steps[<%= @step.id %>].group_name).addClass("active")
//  $(".pipeline_step")

  var new_menu_name = h_steps[<%= @step.id %>].group_name.toLowerCase().replace(" ", "_")
  //  $("#menu_" + new_menu_name).click();
  $(".menu_item.active").removeClass("active");
  $("#menu_" + new_menu_name).addClass("active");
  
  $(".menu_nav.show").removeClass("show");
  $("#" + new_menu_name + "_nav").addClass("show");

  $(".pipeline_step.active").removeClass("active")
  $("li#step_<%= @step.id %>").addClass("active")

//  var new_menu_name = h_steps[<%= @step.id %>].group_name.toLowerCase().replace(" ", "_")
//  $(".menu_item.active").removeClass("active")
//  $("#menu_" + new_menu_name).addClass("active")

 /* $(".menu_nav.active").addClass("collapsed")
  $("#" + new_menu_name + "_nav").removeClass("collapsed")
  $("#step_<%= @step.id %>").click() //.addClass("active")
*/
 }

 <% end %>
<% else %>

<div class='row'>

<span class='alert alert-danger mt-4'>
Something went wrong. If this project has been generated through a cloning step, then please try it again. 
<br/>If it happens again, maybe the original project was corrupted. Please contact us.
</span>
</div>
<% end %>
