<div id='<%= @step.name %>_step_container'>
<% if @step and @ps and @run %>
 <div id='step_header_container'>
   <%= render :partial => 'step_header_container' %>
 </div>
 
 <% if params[:errors] %>
 <div class='alert alert-danger'><%= params[:errors] %></div>
 <% end %>
 
 <% if  @step.description and ! @step.description.empty? %>
 <div id='step-info_<%= @step.id %>' class='alert alert-info <%= (@ps.status_id) ? 'hidden' : '' %>'><%= raw @step.description %></div>
 <% end %>

<%# @h_stats.to_json %>
 
 <p id="notice"><%= notice %></p>
<!--<div class='alert alert-danger'>In maintenance</div>-->
<%= @error if admin? %>
<%# @step.name %>
<%# @step.show_view_json %>
<%# @h_el.to_json %>
<%# @layout.to_json %>
<div id='show_run_<%= @run.id %>' class='run_container'>
 <% @layout.each do |vertical_el| %>
  <%# vertical_el.to_json %>
  <% if (!vertical_el['admin'] or admin?) %>
   <div class="vert_element row">
    <% vertical_el["horiz_elements"].each do |horiz_element| %>
     <% id = horiz_element['id'].to_s %>
     <%# @h_el.to_json if admin? %>
     <div class="horiz_element <%= horiz_element['container_class'] %>">
       <%# horiz_element['class'] %>
       <% if horiz_element['type'] == 'card' and (@h_el[id] or (horiz_element['partial'] and @h_outputs[horiz_element['output_name']] and (!horiz_element['admin'] or admin?))) %>
       <%# id %>
       <%# horiz_element['type'] + "-" + @h_el[id.to_s].to_json %>
       <div class="card <%= horiz_element['class'] %>">
	 <% if @h_el[id] %>
	 <% if @h_el[id][:card_header] %>
	 <div class="card-header"><%= raw @h_el[id][:card_header] %></div>
	 <% end %>
	 <div class="card-body"> 
   	   <%= raw @h_el[id][:card_body] %>
	 </div>
	 <% elsif horiz_element['partial'] and @h_outputs[horiz_element['output_name']] and (!horiz_element['admin'] or admin?)  %>
	 <%= render :partial => horiz_element['partial'], :locals => {:horiz_element => horiz_element} %>
	 <% else %>
  	<!-- Not found element for <%= id %> -->  
	 <% end %>
       </div>
       <% else %>
       <%# @h_el.to_json %>
       <% end %>
     </div>
     <% end %>
   </div>
  <% end %>
 <% end %>
</div>
<!--<% if admin? %>
<div class="vert_element row">
 <div class="horiz_element">
<div class='card'>
<div class='card-header'>
Log
</div>
<div class='card-body'>
<% output_json = @output_dir + "output.log" %>
<% if File.exist?(output_json) %>
<pre><%= File.read(output_json) %></pre>
<% end %>
</div>
</div>
</div>
</div>
<% end %>
-->
<% end %>
</div>

<%= javascript_tag do %>

 $(".input_lineage").click(function(e){
<%= render :partial => 'input_lineage_js' %>
 })

$(".annot_btn").click(function(){
 refresh("step_container", "<%= annots_path() %>/" + this.id.split("_")[1], {loading:'fa-2x'})
})

 $(".cat-details").click(function(e){
  var annot_id = this.id.split("_")[1]
  var cat_value = this.id.split("_")[2]
  e.stopPropagation();
  e.preventDefault();
  $("#popup_window").removeClass("hidden")
//  $("#popup_container").html("bla!")
  refresh("popup_container", "<%= annots_path() %>/" + annot_id + "/get_cat_details?cat_value=" + cat_value, {loading: 'fa-2x'})
  var w = $(window).width();
  $("#popup_window").css({
        left: 200,
        width:w - 250,
        top: e.pageY + 10
    }).stop().show(100);
 })

<% if @step.name == 'de' %>
 $(".badge-nber_genes").click(function(){
  var t = this.id.split("_")
  var run_id = t[1]
  var de_type = t[0]
  refresh("step_container", "<%= raw runs_path() %>/" + run_id + "/get_de_gene_list?type=" + de_type, {loading:'fa-2x'})
 })
 $("#btn-to_de_table").click(function(){
  refresh("step_container", "<%= get_step_project_path(@project.key, :nolayout => 1, :step_id => @step.id, :dashboard => 'de_table') %>", {loading:'fa-2x'})  
 })
<% elsif @step.name == 'ge' %>
 $(".badge-nber_genesets").click(function(){
  var t = this.id.split("_")
  var run_id = t[1]
  var ge_type = t[0]
  refresh("step_container", "<%= raw runs_path() %>/" + run_id + "/get_ge_geneset_list?type=" + ge_type, {loading:'fa-2x'})
 })
 $("#btn-to_ge_table").click(function(){
  refresh("step_container", "<%= get_step_project_path(@project.key, :nolayout => 1, :step_id => @step.id, :dashboard => 'ge_table') %>", {loading:'fa-2x'})
 })
<% end %>

<% end %>
