<button id='select_<%= attr_name %>_btn' type='button' class='btn btn-primary'>Select</button>
<% if session[:input_data_attrs] and session[:input_data_attrs][attr_name] %>
<div class='input_data_attrs'>
  <% if session[:input_data_attrs][attr_name].size > 0 %>
  <span class='nber_runs'><%= session[:input_data_attrs][attr_name].size %></span> datasets selected
  <% form_attr_name = "attrs[" + attr_name + "]" %>
<!--  <input id='attrs_<%= attr_name %>' type='hidden' name='form_attr_name' value='<%= session[:input_data_attrs][attr_name].to_json %>'>-->
<%= hidden_field_tag  form_attr_name, session[:input_data_attrs][attr_name].to_json %>
  <% else %>
  <span class='badge badge-danger'>Please select <%= (attr['req_data_structure'] and attr['req_data_structure'] == 'array') ? 'one or several' : 'one' %></span>
  <% end %>
</div>
<% end %>

<%= javascript_tag do %>
$("#select_<%= attr_name %>_btn").click(function(){
refresh("form_container", "<%= form_select_input_data_projects_path(:key => @project.key, :step_name => @step.name, :obj_id => @obj_inst.id , :attr_name => attr_name) %>", {loading : 'fa-2x'})
$("#ontop_window").removeClass("hidden")
})

<% end %>
