<% if @sel_projects.size == 0 %>

No projects

<% else %>

<% if @sel_projects.select{|p| @h_annots[p.id].size > 0 }.size == 0 %>
<div class='alert alert-danger'>
  Projects <%= @sel_projects.select{|p| @h_annots[p.id].size == 0 }.map{|p| p.key}.join(", ") %> are ignored as they do not contain any categorical metadata on which running the integration. 
</div>
<% end %>

<table><tbody>
    <tr>
      <td class='pt-2' style='vertical-align:top'>Number of PCs to take into account (an integer)</td>
      <td>
	<%= text_field_tag 'integrate_n_pcs', '', :class => 'form-control is-invalid' %>
	<div class="invalid-feedback">
	  Mandatory integer
 	</div>
      </td>
  </tr>
  <tr>    
    <td class='pt-3' style='vertical-align:top'>Projects to integrate</td>
    <td>
      <table id='projects_to_integrate'>
	<thead>
	  <tr>
	    <th>Project key</th>
	    <th>Project name</th>
	    <th>Batch metadata<th>
	  </tr>
	</thead>
	<tbody>
	  
	  <% @sel_projects.select{|p| @h_annots[p.id].size > 0 }.each do |p| %>
	  <tr>
	    <td><%= p.key %></td>
	    <td><%= p.name %></td>      
	    <td>
	      <% l = @h_annots[p.id].map{|e| [e.name, e.name]} %>
	      <% l.unshift ["None", 'null'] %>
	      <%= select_tag 'integrate_batch_paths[' + p.key + ']', options_for_select(l), :class => 'form-control' %></td>
	  </tr>
	  <% end %>
	</tbody>
      </table>
    </td>
</tr></tbody></table>

<%= javascript_tag do %>

$("#projects_to_integrate").DataTable()


$("#integrate_n_pcs").keyup(function(){
validate_form()
})

<% end %>

<% end %>

