<%# @log %>
<%# params[:active_step] %>
<%# @project.parsing_attrs_json %>

<% run = Run.joins("join steps on (steps.id = step_id)").where(:project_id => @project.id, :steps => {:name => 'parsing'}).first %>
<%# @all_results.to_json %>
<% if run.status_id == 3 and @results and !@results['displayed_error'] %>
<%
    @h_formats={}
    FileFormat.all.map{|f| @h_formats[f.name] = f}
%>

<div class='col-md-8'>
  <div class="card mb-2" id="result_summary">
    <div class="card-header">
      Parsing results
    </div>
    <div class="card-body">
      
      <div class='float-right'>
        <!--<p class='card-title'>-->
	<% if @h_formats and @results and @results["detected_format"] and @h_formats[@results["detected_format"]] %>
	  <%= raw display_file_format @h_formats[@results["detected_format"]] %>
	  <% else %>
<%=	  @results["detected_format"] %>
	  <% end %>
         <!--   <div style='position:relative;top:-30px;left:6px;width:35px;font-size:10px;font-weight:bold;text-align:center;background-color:<%= @h_formats[@results["detected_format"]].color %>;color:white;padding:3px;border:2px solid white'><%= @h_formats[@results["detected_format"]].label %></div></i> -->
        <!--</p>-->
      </div>
      
      <%#  @results["detected_format"] %>
      
      <%= display_warnings(@results['warnings']) %>
      <%= display_errors(@results['errors']) %>
      
      <!--      <div class='row'> -->
      <!--	<div class='col-xl-8' style='margin-bottom:25px'>-->
      
      <% if admin? %>
      <% end %>
      <% h_attrs = JSON.parse(@project.parsing_attrs_json) %>
      
      <% if !['LOOM', 'H5_10x', 'MEX'].include? @results["detected_format"] %>
      <p class='sub-run_card'>Parameters</p>
      <% h_delimiter = {"\\t" => 'Tab', "\t" => "Tab",  " " => "Space", "," => "Comma", ":" => "Colon"} %>
      <% if h_attrs['delimiter'] != '' %>
      <p><span class="badge badge-secondary">Delimiter: <%= h_delimiter[h_attrs['delimiter']] %></span>
      <% end %>
      <% h_gene_name_col = {"0" => "First", "first" => "First", "-1" => "Last", "last" => "Last", "NA" => "None", 'none' => "None"} %>
      <span class="badge badge-secondary">Gene name column: <%= h_gene_name_col[h_attrs['gene_name_col']] %></span>
      <span class="badge badge-secondary">Skip lines: <%= h_attrs['skip_line'] %></span>
      <span class="badge badge-secondary">Has header: <%= (h_attrs['has_header']== "1") ? 'Yes' : 'No' %></span> 
      </p>
      <% end %>

      <% if h_attrs['integrate_batch_paths'] %>

      <p class='sub-run_card'>Integration</p>

       <% integrated_projects = Project.where(:key => h_attrs['integrate_batch_paths'].keys).all %>

       <table id='integration_params'>
	 <tbody>
	   <tr><td>
	       Number of PCs taken into account</td><td> <%= h_attrs["integrate_n_pcs"] %></td>
	   </tr>
	   <tr>
	     <td>Integrated projects</td>
	     <td>
	       <table id='integration_projects'>
		 <thead>
		   <tr>
		     <th>Project key</th>
		     <th>Project name</th>
		     <th>Batch metadata<th>
		   </tr>
		 </thead>
		 <tbody>
		   
		   <% integrated_projects.each do |p| %>
		   <tr>
		     <td><%= p.key %></td>
		     <td><%= p.name %></td>
		     <td>
		       <%= (h_attrs['integrate_batch_paths'][p.key] == 'null') ? 'None' : h_attrs['integrate_batch_paths'][p.key] %>
		     </td>
		   </tr>
		   <% end %>
		 </tbody>
	       </table>
	     </td>
       </tr></tbody></table>
       
       
      <% end %>
      
      <p class='sub-run_card'>Output summary</p>
      <p>
	<span class='badge badge-info'>genes:<%= @results['nber_rows'] %></span>
	<span class='badge badge-info'>cells:<%= @results['nber_cols'] %></span>
	<!--      <%# (@results['nber_unique_genes']) ? " [#{@results['nber_unique_genes']} uniques]" : '' %> -->
      </p>
      
      <% if @results['nber_rows'] < 3 %> 
      <i class="fas fa-exclamation-triangle warning-icon"></i>
      <div class='alert alert-danger'>
	For many steps of the pipeline at least three genes are required
      </div>
      <% end %>

      <% if @results['nber_cols'] == 0 %>
      <div class='alert alert-danger'>
	You may have selected wrong parameters for the parsing, in particular not the appropriated delimiter
      </div>
      <% elsif @results['nber_cols'] < 3 %>
	 <div class='alert alert-danger'>
	   <i class="fas fa-exclamation-triangle warning-icon"></i>
	   Original dataset has less than 3 cells 
	   <span class='badge badge-danger'>  
	     For many steps of the pipeline at least three cells are required
	   </span>
	 </div>
      <% end %>
	 
      <% if (@results['is_count_table']==1)  %>
      <div class='alert alert-success'>
	<i class="fas fa-check-circle"></i>
	The original matrix contains only counts 
      </div>
      <% else %>
      
      <div class='alert alert-danger'>
	<i class='fas fa-exclamation-triangle warning-icon'></i>
	The original matrix contains floats
	<span class='badge badge-danger'>
	  Many methods will NOT be available if your original file is not a count matrix
	</span>
      </div>
      <% end %>
 
      <div class='alert alert-info'>
	<%= ((@results['nber_zeros'].to_f * 100) / (@results['nber_rows'] * @results['nber_cols'])).round(2) %>% of values are zeros
      </div>
      
      <% if nber_not_found_genes = @results['nber_not_found_genes'] and nber_not_found_genes > 0 %>
      <div class='alert alert-danger'>
	<i class="fas fa-exclamation-triangle warning-icon"></i>
	<%= nber_not_found_genes %> (<%= (nber_not_found_genes.to_f * 100 / @results['nber_rows']).round(2) %>%) genes were not found in Ensembl
	<span class='badge badge-danger'><i class='fa fa-lightbulb'></i> Did you select the right species (now <%= @project.organism.name %>)? If not, create a new project</span>
      </div>
      
      <% else %>
      <div class='alert alert-success'>
	<i class="fas fa-check-circle"></i>
	All <%= @results['nber_rows'] %> genes were found in Ensembl 
      </div>
      <% end %> 

      <p class='sub-run_card'>Results</p>
   
      <p>
        <%= link_to(raw("<button class='btn btn-outline-secondary btn-sm'>Loom file</button>"), get_file_project_path(@project.key, :step => 'parsing', :filename => 'output.loom'), "target" => "_blank") if exportable?(@project) %> <span class='link_to_loom_tuto info-btn pointer'><sup><i class='fas fa-info-circle fa-lg'></i></sup></span>
      </p>
       <% if admin? %>
      <p>
        <%= link_to(raw("<button class='btn btn-outline-secondary btn-sm'>JSON file</button>"), get_file_project_path(@project.key, :step => 'parsing', :filename => 'output.json'), "target" => "_blank") if exportable?(@project) %>
      </p>
      <p>
        <%= link_to(raw("<button class='btn btn-outline-secondary btn-sm'>Log file</button>"), get_file_project_path(@project.key, :step => 'parsing', :filename => 'output.log'), "target" => "_blank") if exportable?(@project) %>
      </p>
      <% end %>
      
    </div>
    <div class='card-footer'>
      <small class='text-muted'>
	<%= ((admin?) ? "##{run.id}, "  : "") %>
	<%= raw ["<span class='nowrap'>#{display_date_short(run.created_at)}</span><span id='created_time_#{run.id}' class='hidden'>#{run.submitted_at.strftime "%Y-%m-%d %H:%M:%S"}</span><span id='start_time_#{run.id}' class='hidden'>#{(run.start_time) ? run.start_time.strftime("%Y-%m-%d %H:%M:%S") : ""}</span>",
            ((run.waiting_duration) ? "<span class='nowrap'>Wait #{duration(run.waiting_duration.to_i)}</span>" : ((run.status_id == 1) ? "<span id='ongoing_wait_#{run.id}' class='nowrap'>Wait #{duration((Time.now-run.submitted_at).to_i)}</span>" : nil)),
            ((run.duration) ? "<span class='nowrap'>Run #{duration(run.duration.to_i)}</span>" : ((run.status_id == 2) ? "<span id='ongoing_run_#{run.id}' class='nowrap'>Run #{duration((run.start_time) ? (Time.now-run.start_time).to_i : 0)}</span>" : nil)),
            ((@results['time_idle']) ? "<span class='nowrap'>Idle #{@results['time_idle']}</span>" : nil),
            ((run.max_ram) ? "<span class='nowrap'>Max. RAM #{display_mem(run.max_ram*1000)}</span>" : nil)].compact.join(", ") %>
      </small>
      
    </div>
  </div>
  <!--  </div> -->
  <!--  <div class='col-md-6 mb-2'> -->
<!--  <div class='card mb-2' >
    <div class='card-header'>Downloads</div>
    <div class='card-body'>
-->
      <!--	<div class='col-xl-4' style='display:flex;align-items: center;justify-content:center'> -->
      
   
<!--      
    </div>
   </div>
  
</div>
-->
<% else %>
<%# raw ((status = @project.status) ? "<span class='badge badge-#{status.label}'>#{status.name}</span>" : 'NA') %>
<%# @results.to_json %>
<% if @results %>
<!-- <span class='badge badge-danger'>-->
<%= raw @results['displayed_error'].map{|e| "<p class='text-danger text-truncate' title='#{e}'>#{e}</p>"}.join(" ") || '' %>
<!-- </span> -->
 <br/><span><%= @results['original_error'] || '' if admin? %></span>
<% end %>
<!-- <div style='float:right'><button class="btn btn-primary reset_parsing" style="margin-top:-7px">Reset</button></div> -->

<% end %>

<%= javascript_tag do %>

 $("#integration_projects").DataTable()

 $(".link_to_loom_tuto").click(function(e){
   var url = '<%= tutorial_home_index_path(:t => 'loom') %>'
  var win = window.open(url, '_blank');
  win.focus();
  e.stopPropagation();
  e.preventDefault();
  return false;
})

$(".reset_parsing").click(function(){
refresh("step_content", "<%= parse_form_project_path(:key => @project.key, :nolayout => 1) %>", {});
});

// remove set margins
//set_margins()

<% end %>
