  <div id='project_header'>
    <div id='project_title' title='<%= @project.name || 'No name' %>'>
      <% organism_name = (@project.organism) ? @project.organism.short_name : 'No name' %>
      <b><%= @project.name || 'No name' %></b> 
      <br/>
      <i><%= organism_name %></i>
    </div>
    <div id='project_details'>
      <% if !(@project.sandbox == true or (current_user and current_user.id == @project.user_id)) %>
      <div id='shared_by'>
	<% if s = @project.shares.select{|s| s.email == current_user.email}.first %>
        <% h_title = {'eye-open' => 'View', 'stats' => 'Analyze', 'export' => 'Export'} %>
        <%= raw [s.view_perm && 'eye-open', s.analyze_perm && 'stats', s.export_perm && 'export'].select{|e| e}.map{|e|
            "<i title='#{h_title[e]}' class='glyphicon glyphicon-" + e + "'></i>"
            }.join(" ") %>
	<% end %>
	Shared by
        <span class='bold' title='<%= @project.user.email %>'><%= @project.user.email %></span>
      </div>
      <% elsif @project.sandbox == true %>
      <div id='shared_by'>
        <span style='' title='anonymous'>Anonymous</span>
      </div>
      <% end %>
    </div>
    
    <div style='color:#DDDDDD;float:right; margin-right:15px; margin-top:10px'><h4>
	<% if editable? @project %> 
	<span id='edit_project' title='Edit project'><i class='fa fa-cog'></i></span> 
	<% end %>       
	<% if exportable?(@project) %>   
	<span id='clone_button' title='Clone'><i class='fa fa-copy'></i></span>
	<% end %>                          
      </h4>
    </div>
    <div style='clear:both'></div>
  </div>
  <div id="left_menu" class="nav-side-menu">
    <% h_steps = {}; Step.order("rank").all.map{|s| h_steps[s.group_name] ||=[]; h_steps[s.group_name].push s} %>
    <% h_steps.each_key do |group_name| %>
    <% group_name_tag = group_name.downcase.gsub(" ", '-') %>
    <div id="menu_<%= group_name_tag %>" class='menu_item pointer' data-toggle="collapse<%# (group_name_tag == 'report') ? ' active' : '' %>" data-target="#<%= group_name_tag %>_nav" aria-expanded="true" aria-controls="<%= group_name_tag %>_nav">
      <%= group_name %>
    </div>   
    <div id="<%= group_name_tag %>_nav" class="menu_nav collapse<%= (group_name_tag == 'report') ? ' show' : '' %>" aria-labelledby="menu_<%= group_name_tag %>" data-parent="#left_menu">
      <ul class='sub-menu collapse show' id='<%= group_name_tag %>_submenu'>
	<% h_steps[group_name].select{|step| step.hidden == false and (!['step-to-be-hidden-to-std-users'].include? step.name or admin?)}.each do |step| %>
	<li id='step_<%= step.id %>' class='pipeline_step<%= (step.name == 'summary') ? ' active' : '' %><%= (h_steps[group_name].size == 1) ? ' hidden' : '' %>'>
          <%= step.label %>
        </li>
	<% end %>
      </ul>
    </div>
    <% end %>
  </div>

</div>

<%= javascript_tag do %>

$(".menu_item").click(function(){
 var item_id = this.id.split("_")[1]
 var div = $("#" + item_id + "_nav")
 var li = $("#" + item_id + "_nav ul").children().first()
// console.log(div)
 li.click()
})

$("#left_menu .menu_item").click(function(){
$(".menu_item.active").removeClass("active");
$(this).addClass("active")
});


$("#edit_project").click(function(){
refresh("form_container", "<%= edit_project_path(@project.key) %>?global=1", {});
$("#ontop_window").removeClass("hidden");
});

$(".pipeline_step").click(function(){
 var step_id = this.id.split("_")[1];
 // alert("bla")
 console.log(step_id)
 for (var i=1; i<=<%= Step.count %>; i++){
  $("#step_" + i).removeClass("active");
 }

 if (!$(this).hasClass("disabled")){
  $(this).addClass("active");
  $("#popup_window").addClass('hidden');
  refresh("step_container", "<%= get_step_project_path(:key => @project.key, :nolayout => 1) %>&step_id=" + step_id, {loading: 'fa-2x loading-step'});
 }

 $("#popup_window").addClass('hidden');

});

<% if @h_steps[session[:active_step]].name == 'visualisation' %>
 var pdrs = <%= raw @project.project_dim_reductions.map{|pdr| [pdr.dim_reduction_id, ((pdr.status_id) ? raw(image_url(@h_statuses[pdr.status_id].name + "." + @h_statuses[pdr.status_id].img_extension)) : '')]}.to_json %>;
 for (var i=0; i<pdrs.length; i++){
  $("#dr_" + pdrs[i][0] + " img").attr("src", pdrs[i][1]);
 }
 $('#dim_reduction_tabs li.active').removeClass('active');
<% if  session[:active_dr_id] %>
 $("#dr_" + <%= session[:active_dr_id] %>).parent().addClass("active");
<% end %>
<% end %>

$("#clone_button").click(function(){
window.location = "<%= clone_project_path(@project.key) %>";
});

<% end %>
