<% output_name = horiz_element['output_name'] %>

<div class='card-header'>
 <% if @h_outputs[output_name].keys.size == 1 %>
  <div class='top-right-buttons'>
  </div>
 <% end %>

<%= horiz_element['title'] %>
</div>

<div class='card-body'>
  <%# output_name %>
  <%# @h_outputs %>
  <% @h_outputs[output_name].each_key do |f| %> 
  <div id="plotly_plot_<%= @run.id %>_<%= output_name %>_<%= @h_outputs[output_name][f]['onum'] %>" width="<%= horiz_element['plot_width'] %>" height="<%= horiz_element['plot_height'] %>">
  <%#  JSON.parse(File.read(f)) %>
   <%#  @h_outputs[output_name].keys.map{|f| "<button id='run_#{run.id}_#{@h_outputs[k][f]['onum']}' type='button' class='btn btn-sm btn-outline-secondary download_file_btn'>#{@h_outputs[k][f]["filename"]} <sub>#{display_mem(h_outputs[k][f]["size"])}</sub></button>"}}.flatten.join(" ") %>
 <% end %>
   <%# h_plot['x']['layout'].to_json %>
  </div>
</div>

<%= javascript_tag do %>

<%  @h_outputs[output_name].each_key do |f| %>
<% h_plot = Basic.safe_parse_json(File.read(@project_dir + f), {}) %>
<% if h_plot['x'] %>
  <% (0 .. (h_plot['x']['data'].size - 1)).map{|i| h_plot['x']['data'][i]['type'] = 'scattergl' if h_plot['x']['data'][i]['type']=='scatter'} %> 
 var data = <%= raw h_plot['x']['data'].to_json %>
 var layout = <%= raw h_plot['x']['layout'].to_json %>
<% if horiz_element['plot_width'] %>
layout.width = <%= horiz_element['plot_width'] %>
<% end %>
<% if horiz_element['plot_height'] %>
layout.height = <%= horiz_element['plot_height'] %>
<% end %>

 console.log('<%= raw h_plot['x']['layout'] %>')
 Plotly.newPlot('plotly_plot_<%= @run.id %>_<%= output_name %>_<%= @h_outputs[output_name][f]['onum'] %>', data, layout );
// console.log("layout = " + <%= h_plot['x']['layout'].to_json.size %>)
//    console.log("data = " + <%= h_plot['x']['data'].to_json.size %>)
<% end %>
<% end %>

<% end %>

