<%# @h_dashboard_card[16] %>
<%# @current_filtered_run_ids %>

<%= render :partial => 'filter_runs' %>

<% if @all_run_ids.size > 0 %>

<div class='alert alert-info'>
  <%= @runs.size %> run<%= (@runs.size > 1) ? 's' : '' %> found out of <%= @all_run_ids.size %>.
</div>

<% end %>

<% if @runs and @runs.size > 0 %>
<%# if admin? %>
<%# render :partial => 'display_reqs', :locals => {:h_reqs => @h_reqs, :h_run_ids_by_req_id => @h_run_ids_by_req_id} %>
<%# end %>
<% if session[:sel_req_id][@project.id][@step.id] %>
<div class='mb-3'>
  <button id='back_std_runs' type='button' class='btn btn-primary'><< Back to global view</button>
</div>
<h5>Selected batch:</h5>
<% end %>

<%= render :partial => 'display_card_deck', :locals => {:cards => @h_cards[:req_cards], :card_type => 'req'} %>
<%= render :partial => 'display_card_deck', :locals => {:cards => @h_cards[:run_cards], :card_type => 'run'} %>


<%= javascript_tag do %>

//reset timer
if (run_timer){
clearTimeout(run_timer) 
}

var waiting_run_ids = <%= raw @runs.select{|r| r.status_id == 1}.map{|r| r.id}.to_json %>
var running_run_ids = <%= raw @runs.select{|r| r.status_id == 2}.map{|r| r.id}.to_json %>
//console.log("waiting: " + waiting_run_ids)
//console.log("running: " + running_run_ids)

run_timer = upd_time2(waiting_run_ids, running_run_ids, time_zone_offset)

$("#back_std_runs").click(function(){
 refresh("step_container", "<%= get_step_project_path(:key => @project.key, :nolayout => 1) %>&step_id=<%= @step.id %>&sel_req_id=", {loading: 'fa-2x loading-step'});
})

$(".download_text").click(function(e){
 var annot_id = this.id.split("_")[2]
 e.stopPropagation();
 e.preventDefault();
 window.location = '<%= extract_metadata_project_path(:key => @project.key, :format => 'text') %>' + "?annot_id=" + annot_id
})

/*
for (var i = 0; i< waiting_run_ids.length; i++){
 var created_time_el = "#created_time_" + waiting_run_ids[i]
 var duration_el = "#ongoing_wait_" + waiting_run_ids[i]
 timers.push(upd_time("Wait ", created_time_el, duration_el, time_zone_offset))
}

for (var i = 0; i< running_run_ids.length; i++){
 var start_time_el = "#start_time_" + running_run_ids[i]
 var duration_el = "#ongoing_run_" + running_run_ids[i]
 timers.push(upd_time("Run ", start_time_el, duration_el, time_zone_offset))
}
*/
/*
$(".show_link2").click(function(){
//console.log($(this).parent().parent())
 var t = $(this).parent().parent().parent().attr('id').split("_")
 refresh("step_container", "<%= get_run_project_path(:key => @project.key, :nolayout => 1) %>&run_id=" + t[2], {loading: 'fa-2x loading-step'})
})
$(".show_link2").mouseover(function(){
// $(this).parent().parent().css("border-color", 'rgba(0,0,0,0.425)')
})
$(".show_link2").mouseout(function(){
// $(this).parent().parent().css("border-color", 'rgba(0,0,0,0.125)')
})
*/
<% end %>
<% else %>

 <% if session[:activated_filter][@project.id] == true and !@disable_filter %>
  div class='alert alert-danger'>No runs found with selected filter criteria</div>
 <% else %>


 <!--<div class='badge badge-warning'>No run created yet</div> -->

 <% if analyzable? @project %>
 <div class="container-fluid">
   <div id='card_new_analysis' class='card text-md-center col-md-4 centered-card'>
     <div class='card-body'>
       <button id='new_job_main_btn' type='button' class='btn btn-primary btn-lg centered-card <%= @h_attrs['new_analysis_btn_class'] || 'new_job_popup' %>' <%= (@project.runs.select{|r| r.status_id == 3}.size == 0) ? "disabled='disabled'" : "" %>><i class='fa fa-plus'></i> New <%= @step.label.uncapitalize %></button>
     </div>
   </div>
 </div>
 <% end %>
 <% end %>
<% end %>

