<div id="dropzone" title="Drag and drop here!">
  <div id='fu_input'>
  </div>
</div>

<div id='preparsing'>
</div>


<%= hidden_field_tag 'nber_cols_preview', 0 %>
<%= hidden_field_tag 'nber_rows_preview', 0 %>
<%= hidden_field_tag 'nber_cols', 0 %>
<%= hidden_field_tag 'nber_rows', 0 %>

<%= javascript_tag do %>

var $dropTarget = $("#dropzone");
$(document).bind("dragenter", function(e) {
    if (e.target == this) {
         return;
    }

    $dropTarget.addClass("highlight");
    $dropTarget.find("[name='drop']").show();
    $dropTarget.find("[name='drag']").hide();
}).bind("dragleave", function(e) {
    if (e.originalEvent.pageX != 0 || e.originalEvent.pageY != 0) {
        return false;
    }

    // Could use .trigger("drop") here.
    $dropTarget.removeClass("highlight");
    $dropTarget.find("[name='drop']").hide();
    $dropTarget.find("[name='drag']").show();
}).bind("drop", function(e) {
    $dropTarget.removeClass("highlight");
    $dropTarget.find("[name='drop']").hide();
    $dropTarget.find("[name='drag']").show();
});

$(document).bind('dragover', function (e) {
    var dropZone = $('#dropzone'),
        timeout = window.dropZoneTimeout;
    if (timeout) {
        clearTimeout(timeout);
    } else {
        dropZone.addClass('in');
    }
    var hoveredDropZone = $(e.target).closest(dropZone);
    dropZone.toggleClass('hover', hoveredDropZone.length);
    window.dropZoneTimeout = setTimeout(function () {
        window.dropZoneTimeout = null;
        dropZone.removeClass('in hover');
    }, 100);
});

$(document).bind('drop dragover', function (e) {
    e.preventDefault();
});

<% h_opt = nil %>
<% h_opt = {:url => params[:url]} if params[:url]  %>
refresh("fu_input", "<%= upload_fu_path(@fu_input, h_opt) %>", {});

<% end %>
