<p id="notice"><%= notice %></p>

<%# @projects.size %>

<!--   <div class='alert alert-danger'>
 Dear users, ASAP will be shutdown on July 13th, from 9am to 10am (GMT + 2) because of a hardware failure requiring maintenance.
Sorry for the inconvenience.
</div>
-->
<div id='infos' class='row row-eq-height'>
  <div class='col-xs-12'>
    <div id='reference' class='alert alert-info' style='margin-bottom:0px;height:100%'>
      <!--<span class='glyphicon glyphicon-bullhorn'></span> This work has been published in <a href='https://doi.org/10.1093/bioinformatics/btx337'>Bioinformatics</a>.<br/>-->
      <span class='glyphicon glyphicon-fire'></span> <b>New sharing feature available.</b> Now you can share your project with other people and give specific permissions (view, analyze, or download/clone). To access this new feature, click on 'Settings' once you enter your project. Please let us know if you experience any problem.<!-- Current release (3) available. Check details <%= link_to 'here', last_version_versions_path() %>.--><br/>
  <!--    <span class='glyphicon glyphicon-info-sign'></span> This page is refreshed automatically every minute. -->
    </div>
  </div>
<div id='message_adblock' class='alert alert-warnings hidden'>
We detected that you are using a Adblocker. ASAP does not contain any ads, but it can prevent some pages to function normally. Please add ASAP to your Adblocker whitelist for best usage of ASAP.
</div>
<!--  <div class='col-xs-6'>
    <div class='alert alert-warning' style='margin-bottom:0px;height:100%'>
      The application has been tested with IE Edge 38.14393 / EdgeHTML 14.14393, Chrome 56.0.2924.87, Firefox 52.0.2 and Safari 10.1 (10603.1.30.0.34). If you are using the older version of one of these browsers or a different browser, you might have some rendering issues.
    </div>
  </div>
-->
</div>
<!--
<div class='alert alert-warning'>                                                                                                                      
  Dear users, thanks to a user report, we noticed a bug due to an known issue in JSONlite R package (https://github.com/jeroen/jsonlite/issues/184). This was causing the replacement of some values of FDR to 0 in the results of differential expression. We are currently re-running in batch all DE analyses that were launched in the last 2 months. We will update this message when the update is finished. If your analysis is older than this, please run it again to fix the values.
</div>-->
<!--<div class='alert alert-danger'>
  Dear users, the ASAP platform has been shutdown for hardware maintenance on Wednesday 25th April 2018 from 5am to 7am CEST (GMT+2). 
All running jobs were killed and you have to restart them. Sorry for the inconvenience.
</div>
-->
<!--<div class='alert alert-success'>                                                                                                                                                                                               
  Dear users, ASAP is working again normally. Please contact us if you experience any problem. The ASAP team.
</div>-->
<% if !current_user %>
<div style='display:table-cell'><span style='font-size:10px'>The sandbox stores temporarily one project until your session ends.
    To get a <b>personal data storage and keep track of projects</b>, please
    <%= link_to 'Login', new_user_session_path, {:class => 'btn btn-default btn-xs'} %>
</span></div>
<% end %>

<div id='project_lists'>
  <%= render :partial => 'index' %>
</div>

<%= javascript_tag do %>

$(document).ready(function(){
 var canRunAds = true;
 if( window.canRunAds === undefined ){
 $("adblock_message").removeClass('hidden');
 }
})

var flag=0;

function refresh_lists (){
var search_box = $("#free_text");
var public_search_box = $("#public_free_text");
var limit = $("#limit");
var public_limit = $("#public_limit");
 var p = "free_text=" + ((search_box.val()) ? search_box.val() : '');
 p = p + "&public_free_text=" + ((public_search_box.val()) ? public_search_box.val() : '');
 if (limit.val())
 p = p + "&limit=" + limit.val();
 if (public_limit.val())
 p = p + "&public_limit=" + public_limit.val();
 $.ajax({
  url: "<%= projects_path(:nolayout => 1) %>&" + p,
  type: "get",
  dataType: "html",
  beforeSend: function(){
  },
  success: function(returnData){
   var div = $("#project_lists");
   div.html(returnData);
  },
  error: function(e){
  }
 });
}




/*App.projects.onConnected( function(){
  console.log( <%= @projects.length %> );
  <% @projects.each do |project| %>
    App.projects.subscribeStatusChanges( <%= project.id %> );
  <% end %>
  });

App.projects.onReceived( function(data){
  refresh_lists('');
  });
*/
<% if @projects.size > 0 %>

<!--    var timer = setInterval(function(){-->
<!--    refresh_lists('')-->
<!--    }, 60000);-->

<!--    function warning() {-->
<!--    return "You are leaving the page";-->
<!--    }-->

<!--    function noTimeout() {-->
<!--    clearTimeout(timer);-->
<!--    }-->

<!--    function nointerval(){-->
<!--    alert("test");-->
<!--    clearInterval(timer);-->
<!--    }-->

<!--    $("#tt").click(nointerval);-->
<!--    window.onbeforeunload = nointerval;-->
<!--    window.unload = nointerval;-->


<% end %>

//refresh_lists()



<% end %>
