<%# readable @project %>
<% if @error and @error != '' %>

<div class='label label-danger'><%= @error %></div>
<br/><br/>
<!--<div class='alert alert-danger'>
Dear users, during a maintenance procedure on April 13th 2017, current sandbox projects were deleted by mistake. If your project disappeared please submit another one. We are sorry for the inconvenience.
</div>
-->
<% else %>

<%# session[:active_step] %>
<% if !readable? @project %>
<%# current_user.to_json %> 
<%# share = @project.shares.select{|s| s.user_id == current_user.id}.first %>
<%# share.to_json %>
<%# share.view_perm %>
 <span class='label label-danger'> Cannot read this project! </span>
<% else %>
 <div id='popup_window' class='hidden'>
  <div id='popup_window_close'><span onclick="$('#popup_container').html('');$('#popup_window').addClass('hidden'); $('#popup_container').attr('showed','');"><i class='fa fa-times-circle'></i></span></div>
  <% if authorized? %>
  <span class='title_popup'>List of cells <button id='add_selection' class='btn btn-primary btn-xs'>Add to selections</button></span><br/>
  <% end %>
  <div id='popup_container'></div>
</div><div class='clear'>
</div>
<div id='popup_window2' class='hidden'>
  <div id='popup_window_close2'><span onclick="$('#popup_container2').html('');$('#popup_window2').addClass('hidden'); $('#popup_container2').attr('showed','');"><i class='fa fa-times-circle'></i></span></div>
  <div id='popup_container2'></div>
 <%# if authorized? %> 
  <button id='update_sel' type='button' class='btn btn-primary btn-sm'>Update</button>
  <button id='delete_sel' type='button' class='btn btn-danger btn-sm'>Delete</button>
 <%# end %>
</div><div class='clear'></div>
<div id='popup_window3' class='hidden'>
  <div id='popup_window_close3'><span onclick="$('#popup_container3').html('');$('#popup_window3').addClass('hidden'); $('#popup_container3').attr('showed','');"><i class='fa fa-times-circle'></i></span></div>
  <div id='popup_container3'></div>
</div><div class='clear'></div>

<div id='pipeline_container'><%= render :partial => 'pipeline' %></div>
<p id="notice"><%= notice %></p>
<div id='step_container'></div>

<% gene_set = GeneSet.new %>
<%= form_for(gene_set, :url => gene_sets_path(:project_key => @project.key))  do |f| %>
<div class='hidden'>
  <%= file_field_tag :gene_set_file %>
<!--  <div id="kv-error-2" style="margin-top: 10px; display: none;" class="file-error-message"></div>   
  <div id="kv-success-2" class="alert alert-success fade in" style="margin-top: 10px;  display: none;"></div>-->
</div>
<% end %>

<div id='cart'>
  <%= render :partial => 'projects/cart' %>
</div>
<div id='last_project_step' class='hidden'><%= raw @last_update %></div>

<% other_classes = ((@project.status_id == 3 and @project.step_id ==3) or @project.step_id > 3) ? "" : " hidden" %>
<!--<nav id="cart" class="navbar navbar-fixed-bottom<%= other_classes %>">-->
<%= javascript_tag do %>


var timer = setInterval(function(){
//alert('titi');
refresh_pipeline();
}, 5000);

refresh_pipeline();

//$( window ).unbind("resize");
$( window ).resize(function() {
set_margins()
});

set_margins();


function refresh_pipeline(){
  $.ajax({
  url: "<%= get_pipeline_project_path(@project.key) %>",
  type: "get",
  dataType: "script",
  beforeSend: function(){
  },
  success: function(returnData){
   var div= $("#pipeline_container");
    //   div.RemoveChildrenFromDom();
//    div.html(returnData);
try {
//    eval(returnData); 
} catch (e) {
    if (e instanceof SyntaxError) {
//        alert(e.message);
    }
}
  },
  error: function(e){
//   alert(e);
  }
 });
// if ($("#test2").val()=='0')
// setTimeout(refresh_pipeline, 3000);
}

refresh("step_container", "<%= get_step_project_path(:key => @project.key, :nolayout => 1) %>");

$("#selection_button").click(function(){
refresh("ontop_window_content", "<%= get_clusters_project_path(:key => @project.key, :nolayout => 1) %>");
});

$(".timeout_reset").on('click',function(event){
 $("#test2").val('1');
/*var href = this.href;
event.preventDefault();
clearInterval(timer);
window.location = href;
*/
});

$("#update_sel").click(function(){
  if ($("#list_of_items").val()){
   var data= [{name: "list_of_items" , value: $("#list_of_items").val()}, {name: "selection_label", value: $("#selection_label").val()}];
   refresh_post("cart", "<%= selections_path %>/" + $("#selection_id").val(), data, 'put');
  }else{
   var data= [{name: "gene_set[label]", value: $("#selection_label").val()}];
   refresh_post("cart", "<%= gene_sets_path %>/" + $("#selection_id").val(), data, 'put', true);
  }
  $("#popup_window2").addClass("hidden");
});

$("#delete_sel").click(function(){
url = ''
if ($('#list_of_items').val() != undefined){
  url = "<%= selections_path() %>/" + $("#selection_id").val();
}else{
  url = "<%= gene_sets_path() %>/" + $("#selection_id").val();
}
 $.ajax({                       
  url: url, //"<%= selections_path() %>/" + $("#selection_id").val(),
  type: "delete",            
  beforeSend: function(){                                  
  },                
  success: function(returnData){
if (returnData){
/*   var div = $("#cart");        
   div.RemoveChildrenFromDom();                  
   div.html(returnData);     
 */
   refresh('cart', '<%= get_cart_projects_path(:project_key => @project.key) %>');    
   $("#popup_window2").addClass("hidden");                  
}
  },      
   error: function(e){                                       
 //  alert(e);                   
  }                             
 });              
});


<% end %>
<% end %>

<% end %>
