<%# @log %>
<%# readable @project %>
<% if @error and @error != '' %>

<div class='label label-danger'><%= @error %></div>

<br/><br/>
<!--<div class='alert alert-danger'>
Dear users, during a maintenance procedure on April 13th 2017, current sandbox projects were deleted by mistake. If your project disappeared please submit another one. We are sorry for the inconvenience.
</div>
-->
<% else %>

<%# session[:active_step] %>
<% if !readable? @project %>
<%# current_user.to_json %> 
<%# share = @project.shares.select{|s| s.user_id == current_user.id}.first %>
<%# share.to_json %>
<%# share.view_perm %>
 <span class='label label-danger'> Cannot read this project! </span>
<% else %>
 <div id='popup_window' class='hidden'>
  <div id='popup_window_close'><span onclick="$('#popup_container').html('');$('#popup_window').addClass('hidden'); $('#popup_window').css({display : 'none'}); $('#popup_container').attr('showed','');"><i class='fa fa-times-circle'></i></span></div>
<!--  <% if authorized? %>
  <span class='title_popup'>List of cells <button id='add_selection' class='btn btn-primary btn-xs'>Add to selections</button></span><br/>
  <% end %>
-->
  <div id='popup_container'></div>
</div><div class='clear'>
</div>
<div id='popup_window2' class='hidden'>
  <div id='popup_window_close2'><span onclick="$('#popup_container2').html('');$('#popup_window2').addClass('hidden'); $('#popup_container2').attr('showed','');"><i class='fa fa-times-circle'></i></span></div>
  <div id='popup_container2'></div>
 <%# if authorized? %> 
  <button id='update_sel' type='button' class='btn btn-primary btn-sm'>Update</button>
  <button id='delete_sel' type='button' class='btn btn-danger btn-sm'>Delete</button>
 <%# end %>
</div><div class='clear'></div>
<div id='ontop_popup_window' class='hidden'>
  <div id='ontop_popup_window_close'><span onclick="$('#ontop_popup_container').html('');$('#ontop_popup_window').addClass('hidden'); $('#ontop_popup_window').css({display : 'none'}); $('#ontop_popup_container').attr('showed','');"><i class='fa fa-times-circle'></i></span></div>
  <div id='ontop_popup_container'></div>
</div><div class='clear'></div>

<div id='pipeline_container'><%= render :partial => 'pipeline2' %></div>
<!--<div id='split_header' class='hidden'><div class='title'></div></div>-->
<!--<div id='right-menu' class='hidden'>
      <ul>
        <li>Cell annotations</li>
        <li>Gene annotations</li>
        <li>Commented figures</li>
      </ul>
    </div>
-->

<div id='new_analysis_form' class='card hidden'>
  <div class='card-header'>    
    <div class='top-right-buttons'>
      <input type='hidden' id="new_analysis_form_window_status" value='fixed'/>
      <span id='new_analysis_form_close' class='pointer'>
	<i class='fa fa-times-circle'></i>
      </span>
    </div>
    <div>
      <span id='new_analysis_form_detach' class='pointer'>
        <small><i class="fa fa-window-restore" aria-hidden="true"></i></small>
      </span>
      <span id='new_analysis_form_title'></span>
    </div>
  </div>
  <div id='new_analysis_form_content' class='card-body'>
  </div>
</div>

<div id='project_container'>
 <!-- <p id="notice"><%= notice %></p>-->
<!--  <div id='split_window_container' class='hidden'></div>-->
  <div id='step_container'></div>
</div>

<%# gene_set = GeneSet.new %>
<%# form_for(gene_set, :url => gene_sets_path(:project_key => @project.key))  do |f| %>
<div class='hidden'>
  <%# file_field_tag :gene_set_file %>
<!--  <div id="kv-error-2" style="margin-top: 10px; display: none;" class="file-error-message"></div>   
  <div id="kv-success-2" class="alert alert-success fade in" style="margin-top: 10px;  display: none;"></div>-->
</div>
<%# end %>

<div id='cart'>
  <%# render :partial => 'projects/cart' %>
</div>
<div id='last_project_step' class='hidden'><%= raw @last_update %></div>

<% other_classes = ((@project.status_id == 3 and @project.step_id ==3) or @project.step_id > 3) ? "" : " hidden" %>
<!--<nav id="cart" class="navbar navbar-fixed-bottom<%= other_classes %>">-->

<%= javascript_tag do %>

 var project_id = <%= @project.id %>;
 // var step_by_name_json = JSON.stringify(<%= raw @h_step_id_by_name.to_json %>);
 var step_ids = <%= raw Step.where({:hidden => false}).all.map{|e| e.id}.to_json %>;
 var h_step_id_by_name = <%= raw @h_step_id_by_name.to_json %>;
 var h_steps = <%= raw @h_steps.to_json %>
 var h_statuses = <%= raw @h_statuses.to_json %>;
 var h_types = <%= raw @h_env['types'].to_json %>
 var xhrs = []
// prevent clicking on back
/*
(function(window, location) {
    history.replaceState(null, document.title, location.pathname+"#!/stealingyourhistory");
    history.pushState(null, document.title, location.pathname);

    window.addEventListener("popstate", function() {
      if(location.hash === "#!/stealingyourhistory") {
            history.replaceState(null, document.title, location.pathname);
            setTimeout(function(){
              location.replace("<%= APP_CONFIG[:server_url] %>/projects/<%= @project.key %>");
            },0);
      }
    }, false);
}(window, location));
*/

$("#ontop_popup_window").draggable()

function upd_summary(){ 
refresh("step_container", "<%= get_step_project_path(:key => @project.key, :nolayout => 1, :step_id => @h_steps_by_name['summary'].id) %>", {loading: 'fa-2x loading-step'});
}

//$(document).ready(function(){
function upd_landing_page(){
let h_landing_page = {}
let i=0
<% if params[:dl_params_json] %>
<% h_landing_page = Basic.safe_parse_json(params[:dl_params_json], {}) %>
i=1
<% elsif @direct_link %>
 <% h_landing_page = Basic.safe_parse_json(@direct_link.params_json, {}) %>
i=2
 <% else %>
<% h_landing_page = Basic.safe_parse_json(@project.landing_page_json, {}) %>
i=3
<% end %>
console.log("LANDING_PAGE " + i)
var landing_page = <%= raw h_landing_page.to_json %>

console.log(landing_page)
<% if h_landing_page['step'] %>
<% h_p = {:key => @project.key, :nolayout => 1, :fixed_session => 1, :step_id => @h_steps_by_name[h_landing_page['step']].id} %>
<% h_landing_page['s'].keys.map{|k| h_p[k] = h_landing_page['s'][k] } %>
refresh("step_container", "<%= raw get_step_project_path(h_p) %>", {loading: 'fa-2x loading-step'});
<% else %>
upd_summary()
<% end %>

}
//})

var palette = ["ff0000","ffc480","149900","307cbf","d580ff","cc0000","bf9360","1d331a","79baf2","deb6f2","990000","7f6240","283326","2d4459","8f00b3","4c0000","ccb499","00f220","accbe6","520066","330000","594f43","16591f","697c8c","290033","cc3333","e59900","ace6b4","262d33","ee00ff","e57373","8c5e00","2db350","295ba6","c233cc","994d4d","664400","336641","80b3ff","912699","663333","332200","86b392","4d6b99","3d1040","bf8f8f","cc9933","4d6653","202d40","c566cc","8c6969","e5bf73","008033","0044ff","944d99","664d4d","594a2d","39e67e","00144d","a37ca6","f2553d","403520","30bf7c","3d6df2","ff80f6","a63a29","ffeabf","208053","2d50b3","73396f","bf6c60","736956","134d32","13224d","4d264a","402420","f2c200","53a67f","7391e6","735671","ffc8bf","8c7000","003322","334166","40303f","ff4400","ccad33","3df2b6","a3b1d9","ff00cc","b23000","594c16","00bf99","737d99","8c0070","7f2200","ffe680","66ccb8","393e4d","331a2e","591800","b2a159","2d5950","00138c","ffbff2","330e00","7f7340","204039","364cd9","b30077","ff7340","ffee00","b6f2e6","1d2873","40002b","cc5c33","403e20","608079","404880","e639ac","994526","bfbc8f","00998f","1a1d33","731d56","f29979","8c8a69","00736b","0000f2","ff80d5","8c5946","778000","39e6da","0000d9","a6538a","59392d","535900","005359","0000bf","f20081","bf9c8f","3b4000","003c40","2929a6","660036","735e56","ced936","30b6bf","bfbfff","bf8fa9","403430","fbffbf","23858c","8273e6","d90057","f26100","ccff00","79eaf2","332d59","a60042","bf4d00","cfe673","7ca3a6","14004d","bf3069","331400","8a994d","394b4d","170d33","8c234d","ff8c40","494d39","005266","a799cc","bf6086","995426","a3d936","39c3e6","7d7399","804059","733f1d","739926","23778c","290066","59434c","f2aa79","88ff00","0d2b33","8c40ff","b20030","b27d59","3d7300","59a1b3","622db3","7f0022","7f5940","294d00","acdae6","2a134d","40101d","33241a","4e6633","566d73","7453a6","f27999","ffd9bf","bfd9a3","00aaff","4c4359","4d2630","8c7769","92a67c","006699","2b2633","ffbfd0","ff8800","52cc00","002b40","6d00cc","99737d","a65800","234010","3399cc","4b008c","33262a","663600","a1ff80","86a4b3","9c66cc","7f0011","331b00","79bf60","007ae6","583973","f23d55","cc8533","518040","003059","312040","59161f","4c3213","688060","001b33","69238c","bf606c"].map(x => "#" + x)

var xhrs = []

var timers = [];
var run_timer = null;
var last_update = new Date();
var d = new Date();
var time_zone_offset = d.getTimezoneOffset() * 60; // in seconds

/*
window.onbeforeunload = function (e) {
var message = "Do you really want to leave this project ?";
*/
/*var firefox = /Firefox[\/\s](\d+)/.test(navigator.userAgent);
if (firefox) {
//Add custom dialog
//Firefox does not accept window.showModalDialog(), window.alert(), window.confirm(), and window.prompt() furthermore
var dialog = document.createElement("div");
document.body.appendChild(dialog);
dialog.id = "dialog";
dialog.style.visibility = "hidden";
dialog.innerHTML = message;
var left = document.body.clientWidth / 2 - dialog.clientWidth / 2;
dialog.style.left = left + "px";
dialog.style.visibility = "visible";
var shadow = document.createElement("div");
document.body.appendChild(shadow);
shadow.id = "shadow";
//tip with setTimeout
setTimeout(function () {
document.body.removeChild(document.getElementById("dialog"));
document.body.removeChild(document.getElementById("shadow"));
}, 0);
}
*/
/* var w = $(window).width()
 var h = $(window).height()
 var ww = 600
 var wh = 300
  $("#ontop_popup_window").css({
        left: w/2-ww/2,
        width: ww,
        'z-index': 1000000,
        top: h/2-wh/2,
        height: wh 
  }).stop().show(100);
 $("#ontop_popup_container").html("Do you really want to leave this project ?")
 $("#ontop_popup_window").removeClass("hidden") 
return true;

}
*/
/*window.onbeforeunload=function() {
    if ( /Firefox[\/\s](\d+)/.test(navigator.userAgent) && new Number(RegExp.$1) >= 4) {
        alert("You have to confirm you are leaving this page in the next dialogue.");
    }
    return true; 
}*/
window.history.pushState({page: 1}, "", "");

/*
window.onpopstate = function(event) {

  // "event" object seems to contain value only when the back button is clicked
  // and if the pop state event fires due to clicks on a button
  // or a link it comes up as "undefined" 

  if(event){
    // Code to handle back button or prevent from navigation
//event.stopPropagation()
//event.preventDefault()
//   alert("This action is disabled")
//   return true;
  }
  else{
    // Continue user action through link or button
  }
}
*/

$(document).ready(function(){



 // Enable message when leaving the page
/*window.onbeforeunload = function() {
    alert("bla");
    return true;
};
*/

 <%= render :partial => 'channel_js' %>
/*
 $(document).on('click', '.link_to_loom_tuto', function(e){
    e.stopPropagation();
  e.preventDefault();
// window.location = '<%= tutorial_home_index_path(:t => 'loom') %>'
  var url = '<%= tutorial_home_index_path(:t => 'loom') %>'
  var win = window.open(url, '_blank');
  win.focus();
  e.stopPropagation();
  e.preventDefault();

 return false;
})
*/
 $("#new_analysis_form_detach").click(function(){
  var h = $(window).height()
  var window_status = $("#new_analysis_form_window_status").val()
  if (window_status == 'fixed'){
   $("#new_analysis_form_window_status").val('float')
   $("#step_container").animate({'margin-right' : 0}, 200, function(){
   })
   var current_left_pos = parseInt($("#new_analysis_form").css("left")) 
   $("#new_analysis_form").css({cursor : 'grab', left : current_left_pos - 10});
   console.log(current_left_pos -10)
   $("#new_analysis_form_detach").html("<small><i class='fa fa-window-maximize' aria-hidden='true'></i></small>")
   $("#new_analysis_form").resizable().draggable()
  // place_new_analysis_form_window();
  }else{
   if ($("#req_step_id").val() != $("#step_id").val()){ 
    if ($(".new_job_popup").length == 0){
  /*   new_job_poup()
    }else{ */
     $("#new_analysis_form").addClass("hidden")
    }
   }
   $("#new_analysis_form").resizable('destroy')
   $("#new_analysis_form").css({'height' : h - 110, cursor : 'default'})
   $("#new_analysis_form_detach").html("<small><i class='fa fa-window-restore' aria-hidden='true'></i></small>")
   $("#new_analysis_form").draggable('destroy')
   $("#new_analysis_form_window_status").val('fixed')
   place_new_analysis_form_window();
  }
 })

 function adjust_windows(){
  var h = $(window).height()
  var w = $(window).width()
  if ($("#plot_options_window").length > 0 && !$("#plot_options_window").hasClass("hidden")){
   // $("#plot_options_window").css({'height' : h - 440})
     place_plot_options_window();
  }
  if (!$("#new_analysis_form").hasClass("hidden")){
   if ($("#new_analysis_form_window_status").val() == 'fixed'){
    $("#new_analysis_form").css({'height' : h - 110}) 
   }
   place_new_analysis_form_window();
  } 
 }

 $(window).resize(
   function() {
     adjust_windows();
  })

 //alert(<%= @project.id  %>);
 //  App.project_channel = App.project.subscribe( <%= @project.id %> );

//  var ws = new WebSocket("ws://asap.epfl.ch:28080");

//  $("#subscribe").click(function(){
/*
ws.onopen = function() {
    ws.send(JSON.stringify({
      command: "subscribe",
      identifier: "{\"channel\":\"ProjectChannel\"}"
    }));
    console.log("Connection opened on project_<%= @project.id %>...");
 }
ws.onmessage = function (event) {
                        console.log(event.data);
    d = JSON.parse(event.data);
   if (d.type == "confirm_subscription"){
    upd_summary();
   }
  };
*/
//  });

/*
$(window).on('resize', function() {
    if($(window).width() < 767) {
        $('#split_window_container').addClass('col-12');
        $('#split_header').addClass('fullscreen')
    }else{
        $('#split_window_container').removeClass('col-12');
        $('#split_header').removeClass('fullscreen')
    }
})
*/

// NEW ANALYSIS

 $( function() {
//$("#new_analysis_form").draggable().resizable();
})

$("#new_analysis_form_close").click(function(){

 $("#step_container").animate({'margin-right' : 0}, 200, function(){})
 var w = $(window).width();
 $("#new_analysis_form").animate({'left' : w}, 200, function(){
   $("#new_job_main_btn").removeClass('hidden');
   $("#new_analysis_form").addClass("hidden");   
 });
 $("#new_analysis_form_window_status").val('fixed') 

})

<%# if @direct_link %>
<%# h_link_page = Basic.safe_parse_json(@direct_link.params_json, {}) %>
<%# if h_link_page['step'] %>
  <%# h_p = {:key => @project.key, :direct_link_key => @direct_link.link_key, :nolayout => 1, :fixed_session => 1, :step_id => @h_steps_by_name[h_link_page['step']].id} %>
  <%# h_link_page['s'].keys.map{|k| h_p[k] = h_link_page['s'][k] } %>
//  refresh("step_container", "<%# raw get_step_project_path(h_p) %>", {loading: 'fa-2x loading-step'});
<%# end %>			   
			   <%# else %>
 upd_landing_page();
 			   <%# end %>


			   
$(".annot-btn").click(function(){
   $("#step_container").removeClass("col-12");
  $("#step_container").addClass("col-6");
  $("#split_window_container").addClass("col-6");
  $("#split_header").removeClass("hidden")
 $("#step_header").addClass("split");
 $("#split_header .title").html("Gene annotations");
$("#split_window_container").removeClass("hidden");
$("#right-menu").addClass("hidden");

});

$("#right-menu-btn").click(function(){
$("#right-menu").toggleClass("hidden")
})

$("#right-menu li").click(function(){
  $("#step_container").removeClass("col-12");
  $("#step_container").addClass("col-6");
  $("#split_window_container").addClass("col-6");
  $("#split_header").removeClass("hidden")
 $("#step_header").addClass("split");
 $("#split_header .title").html("Gene annotations");
$("#split_window_container").removeClass("hidden");
$("#right-menu").addClass("hidden");
})

// this is the original update
/*var timer = setInterval(function(){
refresh_pipeline();
}, 5000);
*/
/*
refresh_pipeline();
*/
//$( window ).unbind("resize");
$( window ).resize(function() {
// remove set margins
//set_margins()
});

// no need to set margins in new design
//set_margins();


function refresh_pipeline(){
  $.ajax({
  url: "<%= get_pipeline_project_path(@project.key) %>",
  type: "get",
  dataType: "script",
  beforeSend: function(){
  },
  success: function(returnData){
   var div= $("#pipeline_container");
    //   div.RemoveChildrenFromDom();
//    div.html(returnData);
try {
//    eval(returnData); 
} catch (e) {
    if (e instanceof SyntaxError) {
//        alert(e.message);
    }
}
  },
  error: function(e){
//   alert(e);
  }
 });
// if ($("#test2").val()=='0')
// setTimeout(refresh_pipeline, 3000);
}

//refresh("step_container", "<%= get_step_project_path(:key => @project.key, :nolayout => 1, :step_id => 14) %>", {loading: 'fa-2x loading-step'});

$("#selection_button").click(function(){
refresh("ontop_window_content", "<%= get_clusters_project_path(:key => @project.key, :nolayout => 1) %>", {});
});

$(".timeout_reset").on('click',function(event){
 $("#test2").val('1');
/*var href = this.href;
event.preventDefault();
clearInterval(timer);
window.location = href;
*/
});

$("#update_sel").click(function(){
  if ($("#list_of_items").val()){
   var data= [{name: "list_of_items" , value: $("#list_of_items").val()}, {name: "selection_label", value: $("#selection_label").val()}];
   refresh_post("cart", "<%= selections_path %>/" + $("#selection_id").val(), data, 'put');
  }else{
   var data= [{name: "gene_set[label]", value: $("#selection_label").val()}];
   refresh_post("cart", "<%= gene_sets_path %>/" + $("#selection_id").val(), data, 'put', true);
  }
  $("#popup_window2").addClass("hidden");
});

$("#delete_sel").click(function(){
url = ''
if ($('#list_of_items').val() != undefined){
  url = "<%= selections_path() %>/" + $("#selection_id").val();
}else{
  url = "<%= gene_sets_path() %>/" + $("#selection_id").val();
}
 $.ajax({                       
  url: url, //"<%= selections_path() %>/" + $("#selection_id").val(),
  type: "delete",            
  beforeSend: function(){                                  
  },                
  success: function(returnData){
if (returnData){
/*   var div = $("#cart");        
   div.RemoveChildrenFromDom();                  
   div.html(returnData);     
 */
   refresh('cart', '<%= get_cart_projects_path(:project_key => @project.key) %>', {});    
   $("#popup_window2").addClass("hidden");                  
}
  },      
   error: function(e){                                       
 //  alert(e);                   
  }                             
 });              
});

});

    
<% end %>
<% end %>
<% end %>
