<p id="notice"><%= notice %></p>

<h1>Gene Filterings</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gene_filterings.each do |gene_filtering| %>
      <tr>
        <td><%= link_to 'Show', gene_filtering %></td>
        <td><%= link_to 'Edit', edit_gene_filtering_path(gene_filtering) %></td>
        <td><%= link_to 'Destroy', gene_filtering, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gene Filtering', new_gene_filtering_path %>
