<p id="notice"><%= notice %></p>

<h1>Direct Links</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @direct_links.each do |direct_link| %>
      <tr>
        <td><%= link_to 'Show', direct_link %></td>
        <td><%= link_to 'Edit', edit_direct_link_path(direct_link) %></td>
        <td><%= link_to 'Destroy', direct_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Direct Link', new_direct_link_path %>
