<%= form_with(model: step, local: true) do |f| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr><td>Rank</td><td><%= f.text_field :rank %></td></tr>
    <tr><td>Object name</td><td><%= f.text_field :obj_name %></td></tr>
    <tr><td>Name</td><td><%= f.text_field :name %></td></tr>
    <tr><td>Label</td><td><%= f.text_field :label %></td></tr>
    <tr><td>Description</td><td><%= f.text_area :description %></td></tr>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
