<%= form_with(model: step, local: true) do |f| %>
  <% if step.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(step.errors.count, "error") %> prohibited this step from being saved:</h2>

      <ul>
      <% step.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr><td>Rank</td><td><%= f.text_field :rank %></td></tr>
    <tr><td>Object name</td><td><%= f.text_field :obj_name %></td></tr>
    <tr><td>Name</td><td><%= f.text_field :name %></td></tr>
    <tr><td>Label</td><td><%= f.text_field :label %></td></tr>
    <tr><td>Rank</td><td><%= f.text_field :rank %></td></tr>
    <tr><td>Multiple runs allowed?</td><td><%= f.check_box :multiple_runs %></td></tr>
    <tr><td>Has standard dashboard?</td><td><%= f.check_box :has_std_dashboard %></td></tr>
    <tr><td>Has standard form?</td><td><%= f.check_box :has_std_form %></td></tr>
    <tr><td>Has standard view?</td><td><%= f.check_box :has_std_view %></td></tr>
    <tr><td>Description</td><td><%= f.text_area :description %></td></tr>
    <tr><td>Optional step attributes</td><td><%= f.text_area :attrs_json, {:cols => 60, :rows => 3} %></td></tr>
    <tr><td>Standard method attribute global properties</td><td><%= f.text_area :method_attrs_json, {:cols => 60, :rows => 15} %></td></tr>
    <tr><td>Standard outputs global properties</td><td><%= f.text_area :method_output_json, {:cols => 60, :rows => 15} %></td></tr>
    <tr><td>Default command</td><td><%= f.text_area :command_json, {:cols => 60, :rows => 15} %></td></tr>
  </table>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
