<p id="notice"><%= notice %></p>

<h1>Steps</h1>

<table id='list_steps'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Version</th>
      <th>Rank</th>
      <th>Objet name</th>
      <th>Name</th>
      <th>Label</th>      
      <th>Optional attributes</th>
      <th>Method attributes</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @steps.each do |step| %>
      <tr>
        <td><%= step.id %></td>
	<td><%= step.version_id %></td>
	<td><%= step.rank %></td>
        <td><%= step.obj_name %></td>
        <td><%= step.name %></td>
        <td><%= step.label %></td>
	<td><%= step.attrs_json %></td>
	<td><%= step.method_attrs_json %></td>
        <td><%# link_to 'Show', step %></td>
        <td><%= link_to 'Edit', edit_step_path(step) %></td>
        <td><%# link_to 'Destroy', step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Step', new_step_path %>

<%= javascript_tag do %>

$("list_steps").dataTable({});

<% end %>
