<p id="notice"><%= notice %></p>

<h1>Annots</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @annots.each do |annot| %>
      <tr>
        <td><%= link_to 'Show', annot %></td>
        <td><%= link_to 'Edit', edit_annot_path(annot) %></td>
        <td><%= link_to 'Destroy', annot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Annot', new_annot_path %>
