<p id="notice"><%= notice %></p>

<h1>Normalizations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @normalizations.each do |normalization| %>
      <tr>
        <td><%= link_to 'Show', normalization %></td>
        <td><%= link_to 'Edit', edit_normalization_path(normalization) %></td>
        <td><%= link_to 'Destroy', normalization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Normalization', new_normalization_path %>
