<div id='<%= @step.name %>_step_container'>

<% if @step and @ps and @run %>
 <div id='step_header_container'>
   <%# render :partial => 'projects/step_header_container' %>
 </div>

 <% if params[:errors] %>
 <div class='alert alert-danger'><%= params[:errors] %></div>
 <% end %>

 <% if  @step.description and ! @step.description.empty? %>
 <div id='step-info_<%= @step.id %>' class='alert alert-info <%= (@ps.status_id) ? 'hidden' : '' %>'><%= raw @step.description %></div>
 <% end %>

 <p id="notice"><%= notice %></p>

<div class='container'>

<!--<div class='btn btn-sm btn-secondary' id='back-btn'><< Back</div>-->

<%# @data %>

<div class='float-right'>
  <b>Download all</b>
  <%= link_to(raw("<button id='download-de-table' class='btn btn-primary btn-sm' type='button'>JSON</button>"), 
      get_de_gene_list_run_path(@run, :format => 'json', :type => params[:type], :download => 1), "target" => "_blank") if exportable?(@project) %>
    <%= link_to(raw("<button id='download-de-table' class='btn btn-primary btn-sm' type='button'>Tab-separated</button>"),
      get_de_gene_list_run_path(@run, :format => 'text', :type => params[:type], :download => 1), "target" => "_blank") if exportable?(@project) %>
</div>
<h5><%= raw display_run2(@run, @step, @std_method) %> - List of <%= @nber_genes %> <%= params[:type] %>-regulated genes</h5>
<%= raw display_run_attrs(@run, @h_run_attrs, @h_std_method_attrs, {}) %>
<% if @limit < @nber_genes %>
<div class='alert alert-danger'>Only <%= @limit %> genes with highest fold change displayed</div>
<% end %>
<!-- <div class='card' style='margin:10px'>
   <div class='card-header'>List of <%= params[:type] %>-regulated genes
     <div class='btn btn-secondary btn-sm back' style='float:right'>Back</div>
   </div>
   <div class='card-body'>
-->
     <table id='de-gene_list'>
       <thead>
         <% @fields.each do |f| %>
         <th><%= f %></th>
         <% end %>
       </thead>
       <tbody>
	 <% @data.each do |e| %>
	 <tr>
	 <% @fields.each_index do |i| %>
           <td>
	     
          <% if @fields[i] == 'EnsemblID' %>
           <span class='ensembl-gene pointer badge badge-light'><%= e[i] %></span>
          <%# elsif ['fdr', 'size_effect', 'p-value'].include? @fields[i] %>
	    <%# e[i].to_f.round(2) %>
	  <% else %>
	   <span class='nowrap'><%= e[i] %></span>
          <% end %>
          </td>
	 <% end %>
	 </tr>
	 <% end %>
       </tbody>
     </table>
<!-- </div></div> -->
</div>
<% end %>
</div>

<%= javascript_tag do %>

$("#back-btn").click(function(){
 refresh("step_container", "<%= get_step_project_path(:key => @project.key, :step_id => @step.id, :nolayout => 1) %>", {loading: 'fa-2x loading-step'});
})

$("#de-gene_list").dataTable({
"order": [[ 5, "<%= (params[:type] == 'down') ? "asc" : "desc" %>" ]]
})

$("#de-gene_list").on("click", ".ensembl-gene", function(e){
 var ensembl_id = $(this).html()
 var w = $(window).width()
 var ww = 600
  $("#ontop_popup_window").css({
        left: (w-e.pageX > ww) ? (e.pageX + 10) : w-ww+10,
        width:ww,
        'z-index':1000000,
        top: e.pageY + 10
  }).stop().show(100);
 refresh("ontop_popup_container", "<%= search_genes_path() %>?ensembl_id=" + ensembl_id + "&version_id=<%= @project.version_id %>", {loading:true})
})

$(".show_link").click(function(){
 var t = this.id.split("_")
 // alert("bla!")
 $("#popup_window").css({display:'none'})
 refresh("step_container", "<%= get_run_project_path(:key => @project.key, :nolayout => 1) %>&run_id=" + t[2], {loading: 'fa-2x loading-step'})
})

 $(".input_lineage").click(function(e){
<%= render :partial => 'projects/input_lineage_js' %>
 })

<% end %>
