<div class='row'>
  <div class='col-md-6'>Ensembl ID</div>
  <div class='col-md-6'><span id='ensembl_id' class='pointer badge badge-dark'><%= @gene.ensembl_id %></span></div>
</div>
<div class='row'>
  <div class='col-md-6'>Gene name</div>
  <div class='col-md-6'><span id='ensembl_symbol' class='badge badge-light'><%= @gene.name %></span></div>
</div>
<div class='row'>
  <div class='col-md-6'>Biotype</div>
  <div class='col-md-6'><span id='ensembl_biotype' class='badge badge-info'><%= @gene.biotype %></span></div>
</div>
<div class='row mt-2 mb-2'>
  <div class='col-md-6'><b>Description</b></div>
  <div class='col-md-6'><b><%= @gene.description %></b></div>
</div>
<div class='row'>
  <div class='col-md-6'>Alt gene names</div>
  <div class='col-md-6'><%= raw @gene.alt_names.split(",").map{|e| "<span class='badge badge-light'>#{e}</span>"}.join(" ") %></div>
</div>
<% if @gene.obsolete_alt_names and  @gene.obsolete_alt_names != '' %>
<div class='row'>
  <div class='col-md-6'>Obsolete gene names</div>
  <div class='col-md-6'><%= raw @gene.obsolete_alt_names.split(",").map{|e| "<span class='badge badge-light'>#{e}</span>"}.join(" ") %></div>
</div>
<% end %>


<%= javascript_tag do %>

$("#ensembl_id").click(function(){
 window.open("http://www.ensembl.org/Gene/Summary?g=" + $(this).html(), "_blank")
})
<% end %>
